openapi: 3.2.0
info:
  title: MODIVO Commerce REST Eob JWT HTTP Service V1 API
  version: '2.4'
  description: Public REST API surface of the MODIVO storefront (modivo.pl), served by its Adobe Commerce / Magento 2.4 deployment and self-described at https://modivo.pl/rest/all/schema?services=all. Covers guest cart and checkout, guest order placement, marketplace order placement, customer account management, product render info, search, directory data, gift messages, in-store pickup locations, PayPal/Braintree payment services, and MODIVO-specific extensions (MODIVO My Returns webhook, eobuwie JWT service, Trustmate review integration). Anonymous access is limited to unauthenticated storefront operations; the remainder requires a Magento integration or customer bearer token. Mechanically converted from the provider's own Swagger 2.0 document; the verbatim original is in openapi/_original/.
  x-source: https://modivo.pl/rest/all/schema?services=all
servers:
- url: https://modivo.pl/rest/all
tags:
- name: eobJWTHttpServiceV1
  description: Interface HttpServiceInterface
paths:
  /V1/jwt/obtain:
    post:
      tags:
      - eobJWTHttpServiceV1
      description: Create and retrieve JWT.
      operationId: PostV1JwtObtain
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eob-jw-tdata-token-data-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/eob-jw-tdata-token-data-interface'
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
components:
  schemas:
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    eob-jw-tdata-token-data-interface:
      type: object
      description: ''
      properties:
        token:
          type: string
          description: JWT Token.
        expires_in:
          type: integer
          description: Expires in in seconds.
      required:
      - token
      - expires_in
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
      description: Magento integration/customer bearer token supplied in the Authorization header (Bearer <token>).
