openapi: 3.2.0
info:
  title: eobuwie Commerce REST Chatbot Order Rest API Order Rest API Service V1 API
  version: '2.4'
  description: Public REST API surface of eobuwie.com.pl, the MODIVO Group's footwear storefront, served by its Adobe Commerce / Magento 2.4 deployment and self-described at https://eobuwie.com.pl/rest/all/schema?services=all. Covers guest cart and checkout, guest order placement, customer account management, product render info, directory data, gift messages, and eobuwie-specific extensions (My Returns webhook, chatbot order REST API). Mechanically converted from the provider's own Swagger 2.0 document; the verbatim original is in openapi/_original/.
  x-source: https://eobuwie.com.pl/rest/all/schema?services=all
servers:
- url: https://eobuwie.com.pl/rest/all
tags:
- name: chatbotOrderRestApiOrderRestApiServiceV1
  description: ''
paths:
  /V1/chatbot/order/status:
    post:
      tags:
      - chatbotOrderRestApiOrderRestApiServiceV1
      description: Returns order status complex info
      operationId: chatbotOrderRestApiOrderRestApiServiceV1GetStatusPost
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - orderAuthInput
              properties:
                orderAuthInput:
                  $ref: '#/components/schemas/chatbot-order-rest-api-data-order-auth-input-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - orderAuthInput
              properties:
                orderAuthInput:
                  $ref: '#/components/schemas/chatbot-order-rest-api-data-order-auth-input-interface'
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chatbot-order-rest-api-data-order-status-output-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/chatbot-order-rest-api-data-order-status-output-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
  /V1/chatbot/order/request-cancellation:
    post:
      tags:
      - chatbotOrderRestApiOrderRestApiServiceV1
      description: Requests for order cancellation
      operationId: chatbotOrderRestApiOrderRestApiServiceV1RequestCancellationPost
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - orderAuthInput
              properties:
                orderAuthInput:
                  $ref: '#/components/schemas/chatbot-order-rest-api-data-order-auth-input-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - orderAuthInput
              properties:
                orderAuthInput:
                  $ref: '#/components/schemas/chatbot-order-rest-api-data-order-auth-input-interface'
              type: object
              xml:
                name: request
      responses:
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
components:
  schemas:
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    chatbot-order-rest-api-data-order-auth-input-interface:
      type: object
      description: ''
      properties:
        order_email:
          type: string
        order_number:
          type: string
      required:
      - order_email
      - order_number
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    chatbot-order-rest-api-data-order-status-output-interface:
      type: object
      description: ''
      properties:
        is_internal:
          type: boolean
        is_instore:
          type: boolean
        status:
          type: string
        suborders_status:
          type: array
          items:
            type: string
      required:
      - is_internal
      - is_instore
      - status
      - suborders_status
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
