openapi: 3.2.0
info:
  title: MODIVO Commerce REST Marketplace Place Order Order Management V1 API
  version: '2.4'
  description: Public REST API surface of the MODIVO storefront (modivo.pl), served by its Adobe Commerce / Magento 2.4 deployment and self-described at https://modivo.pl/rest/all/schema?services=all. Covers guest cart and checkout, guest order placement, marketplace order placement, customer account management, product render info, search, directory data, gift messages, in-store pickup locations, PayPal/Braintree payment services, and MODIVO-specific extensions (MODIVO My Returns webhook, eobuwie JWT service, Trustmate review integration). Anonymous access is limited to unauthenticated storefront operations; the remainder requires a Magento integration or customer bearer token. Mechanically converted from the provider's own Swagger 2.0 document; the verbatim original is in openapi/_original/.
  x-source: https://modivo.pl/rest/all/schema?services=all
servers:
- url: https://modivo.pl/rest/all
tags:
- name: marketplacePlaceOrderOrderManagementV1
  description: ''
paths:
  /V1/orderManagement/placeOrder:
    post:
      tags:
      - marketplacePlaceOrderOrderManagementV1
      description: ''
      operationId: PostV1OrderManagementPlaceOrder
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - order
              properties:
                order:
                  $ref: '#/components/schemas/marketplace-place-order-data-order-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - order
              properties:
                order:
                  $ref: '#/components/schemas/marketplace-place-order-data-order-interface'
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketplace-place-order-data-order-response-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/marketplace-place-order-data-order-response-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
components:
  schemas:
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    marketplace-order-create-data-order-shipping-address-interface:
      type: object
      description: ''
      properties:
        company_name:
          type: string
          description: The company name
        contact_person_first_name:
          type: string
          description: The contact person first name
        contact_person_last_name:
          type: string
          description: The contact person last name
        address_name:
          type: string
          description: The address name
        phone_number:
          type: string
          description: The phone number
        country_code:
          type: string
          description: The country code
        locality:
          type: string
          description: The locality
        street:
          type: string
          description: The street
        house_number:
          type: string
          description: The house number
        flat_number:
          type: string
          description: The flat number
        post_code:
          type: string
          description: The post code
        post:
          type: string
          description: The post
      required:
      - contact_person_first_name
      - contact_person_last_name
      - address_name
      - phone_number
      - country_code
      - locality
      - street
      - house_number
      - post_code
      - post
    marketplace-order-create-data-order-billing-address-interface:
      type: object
      description: ''
      properties:
        first_name:
          type: string
          description: The first name
        last_name:
          type: string
          description: The last name
        full_name:
          type: string
          description: The full name
        tin:
          type: string
          description: The tin
        is_company:
          type: boolean
          description: The 'is company' flag
        is_vat_ue:
          type: boolean
          description: The 'is vat ue' flag
        phone_number:
          type: string
          description: The phone number
        country_code:
          type: string
          description: The country code
        locality:
          type: string
          description: The locality
        street:
          type: string
          description: The street
        house_number:
          type: string
          description: The house number
        flat_number:
          type: string
          description: The flat number
        post_code:
          type: string
          description: The post code
        post:
          type: string
          description: The post
      required:
      - first_name
      - last_name
      - full_name
      - tin
      - is_company
      - is_vat_ue
      - phone_number
      - country_code
      - locality
      - street
      - house_number
      - post_code
      - post
    marketplace-place-order-data-order-suborder-item-interface:
      type: object
      description: ''
      properties:
        price:
          type: string
        offer_id:
          type: string
          description: Offer id
        base_price:
          type: string
          description: Base price
        final_price:
          type: string
          description: Final price
        quantity:
          type: integer
          description: Quantity
        sku:
          type: string
          description: Sku
      required:
      - price
      - offer_id
      - base_price
      - final_price
      - quantity
      - sku
    marketplace-place-order-data-order-interface:
      type: object
      description: ''
      properties:
        is_electronic_document:
          type: boolean
        suborders:
          type: array
          description: Suborders
          items:
            $ref: '#/components/schemas/marketplace-place-order-data-order-suborder-interface'
        default_store_id:
          type: string
          description: Store eg. MOD-PL WEB
        ecommerce_id:
          type: string
          description: Ecommerce id
        prefix:
          type: string
          description: Prefix
        is_invoice:
          type: boolean
          description: Is invoice
        order_total_price:
          type: string
          description: Total price of order
        payment:
          $ref: '#/components/schemas/marketplace-order-create-data-order-payment-interface'
        customer:
          $ref: '#/components/schemas/marketplace-order-create-data-order-customer-interface'
        shipping_address:
          $ref: '#/components/schemas/marketplace-order-create-data-order-shipping-address-interface'
        billing_address:
          $ref: '#/components/schemas/marketplace-order-create-data-order-billing-address-interface'
        attributes:
          type: array
          description: Attributes
          items:
            $ref: '#/components/schemas/stanley-order-create-data-attribute-interface'
        created_at:
          type: string
          description: Created at
        order_source_ip:
          type: string
          description: Order source ip
      required:
      - suborders
      - default_store_id
      - ecommerce_id
      - is_invoice
      - order_total_price
      - payment
      - customer
      - shipping_address
      - billing_address
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    marketplace-order-create-data-order-payment-interface:
      type: object
      description: ''
      properties:
        continue_url:
          type: string
          description: Continue url
        currency_code:
          type: string
          description: Currency code
        coupon_code:
          type: string
          description: Coupon code
        method_id:
          type: string
          description: Method id
        bank_transfer_details:
          $ref: '#/components/schemas/marketplace-order-create-data-order-payment-bank-transfer-details-interface'
      required:
      - continue_url
      - currency_code
      - method_id
    marketplace-place-order-data-order-response-interface:
      type: object
      description: ''
      properties:
        order_number:
          type: string
        order_hash:
          type: string
        masked_quote_id:
          type: string
      required:
      - order_number
      - order_hash
      - masked_quote_id
    marketplace-order-create-data-order-suborder-note-interface:
      type: object
      description: ''
      properties:
        body:
          type: string
          description: Body
        created_at:
          type: string
          description: Created at
      required:
      - body
    marketplace-place-order-data-order-suborder-interface:
      type: object
      description: ''
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/marketplace-place-order-data-order-suborder-item-interface'
        store_id:
          type: string
        index:
          type: integer
        delivery_method:
          $ref: '#/components/schemas/marketplace-order-create-data-order-suborder-delivery-method-interface'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/marketplace-order-create-data-order-suborder-note-interface'
        shipment_cost:
          type: string
        suborder_total_price:
          type: string
          description: Total price of sub-order
      required:
      - items
      - store_id
      - index
      - delivery_method
      - shipment_cost
      - suborder_total_price
    marketplace-order-create-data-order-suborder-delivery-method-interface:
      type: object
      description: ''
      properties:
        id:
          type: string
          description: Id
        pudo_id:
          type: string
          description: Pudo id
        submethods_of_delivery:
          type: array
          description: Selected options ids
          items:
            type: string
      required:
      - id
      - submethods_of_delivery
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    stanley-order-create-data-attribute-interface:
      type: object
      description: ''
      properties:
        name:
          type: string
          description: Name.
        value:
          type: string
          description: Value.
      required:
      - name
      - value
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    marketplace-order-create-data-order-customer-interface:
      type: object
      description: ''
      properties:
        email_address:
          type: string
          description: Email
        external_id:
          type: string
          description: External id
        avatar_id:
          type: string
          description: Avatar id
      required:
      - email_address
      - external_id
      - avatar_id
    marketplace-order-create-data-order-payment-bank-transfer-details-interface:
      type: object
      description: ''
      properties:
        account_number:
          type: string
          description: Account number
        cbt_account_number:
          type: string
          description: Cbt account number
      required:
      - account_number
      - cbt_account_number
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
      description: Magento integration/customer bearer token supplied in the Authorization header (Bearer <token>).
