openapi: 3.2.0
info:
  title: Modivo Quote Guest Cart Item Repository V1 API
  version: '2.4'
  x-refined-note:
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged quoteGuestCartItemRepositoryV1 across 2 of this provider''s published API definitions: modivo-commerce-rest-api-openapi.yml, modivo-eobuwie-commerce-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://modivo.pl/rest/all
- url: https://eobuwie.com.pl/rest/all
tags:
- name: quoteGuestCartItemRepositoryV1
  description: Cart Item repository interface for guest carts.
paths:
  /V1/guest-carts/{cartId}/items:
    get:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: List items that are assigned to a specified cart.
      operationId: GetV1GuestcartsCartIdItems
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: array
                description: Array of items.
                items:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema:
                type: array
                description: Array of items.
                items:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    post:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: PostV1GuestcartsCartIdItems
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
  /V1/guest-carts/{cartId}/items/{itemId}:
    put:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: PutV1GuestcartsCartIdItemsItemId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/quote-data-cart-item-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    delete:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Remove the specified item from the specified cart.
      operationId: DeleteV1GuestcartsCartIdItemsItemId
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The item ID of the item to be removed.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
components:
  schemas:
    quote-data-cart-item-interface:
      type: object
      description: Interface CartItemInterface
      properties:
        item_id:
          type: integer
          description: Item ID. Otherwise, null.
        sku:
          type: string
          description: Product SKU. Otherwise, null.
        qty:
          type: number
          description: Product quantity.
        name:
          type: string
          description: Product name. Otherwise, null.
        price:
          type: number
          description: Product price. Otherwise, null.
        product_type:
          type: string
          description: Product type. Otherwise, null.
        quote_id:
          type: string
          description: Quote id.
        product_option:
          $ref: '#/components/schemas/quote-data-product-option-interface'
        extension_attributes:
          $ref: '#/components/schemas/quote-data-cart-item-extension-interface'
      required:
      - qty
      - quote_id
    quote-data-product-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\ProductOptionInterface
      properties:
        custom_options:
          type: array
          items:
            $ref: '#/components/schemas/catalog-data-custom-option-interface'
        configurable_item_options:
          type: array
          items:
            $ref: '#/components/schemas/configurable-product-data-configurable-item-option-value-interface'
        bundle_options:
          type: array
          items:
            $ref: '#/components/schemas/bundle-data-bundle-option-interface'
        downloadable_option:
          $ref: '#/components/schemas/downloadable-data-downloadable-option-interface'
        grouped_options:
          type: array
          items:
            $ref: '#/components/schemas/grouped-product-data-grouped-options-interface'
    catalog-data-custom-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\CustomOptionInterface
      properties:
        file_info:
          $ref: '#/components/schemas/framework-data-image-content-interface'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    configurable-product-data-configurable-item-option-value-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\ConfigurableProduct\Api\Data\ConfigurableItemOptionValueInterface
    framework-data-image-content-interface:
      type: object
      description: Image Content data interface
      properties:
        base64_encoded_data:
          type: string
          description: Media data (base64 encoded content)
        type:
          type: string
          description: MIME type
        name:
          type: string
          description: Image name
      required:
      - base64_encoded_data
      - type
      - name
    bundle-data-bundle-option-interface:
      type: object
      description: Interface BundleOptionInterface
      properties:
        option_id:
          type: integer
          description: Bundle option id.
        option_qty:
          type: integer
          description: Bundle option quantity.
        option_selections:
          type: array
          description: Bundle option selection ids.
          items:
            type: integer
        extension_attributes:
          $ref: '#/components/schemas/bundle-data-bundle-option-extension-interface'
      required:
      - option_id
      - option_qty
      - option_selections
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    downloadable-data-downloadable-option-interface:
      type: object
      description: Downloadable Option
      properties:
        downloadable_links:
          type: array
          description: The list of downloadable links
          items:
            type: integer
      required:
      - downloadable_links
    sales-rule-data-rule-discount-interface:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_i_d:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_i_d
    sales-rule-data-discount-data-interface:
      type: object
      description: Discount Data Interface
      properties:
        amount:
          type: number
          description: Amount
        base_amount:
          type: number
          description: Base Amount
        original_amount:
          type: number
          description: Original Amount
        base_original_amount:
          type: number
          description: Base Original Amount
      required:
      - amount
      - base_amount
      - original_amount
      - base_original_amount
    configurable-product-data-configurable-item-option-value-interface:
      type: object
      description: Interface ConfigurableItemOptionValueInterface
      properties:
        option_id:
          type: string
          description: Option SKU
        option_value:
          type: integer
          description: Item id
        extension_attributes:
          $ref: '#/components/schemas/configurable-product-data-configurable-item-option-value-extension-interface'
      required:
      - option_id
    catalog-data-custom-option-interface:
      type: object
      description: Interface CustomOptionInterface
      properties:
        option_id:
          type: string
          description: Option id
        option_value:
          type: string
          description: Option value
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-custom-option-extension-interface'
      required:
      - option_id
      - option_value
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    quote-data-cart-item-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\CartItemInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface'
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    grouped-product-data-grouped-options-interface:
      type: object
      description: Represents `product item id with qty` of a grouped product.
      properties:
        id:
          type: integer
          description: Associated product id
        qty:
          type: integer
          description: Associated product qty
        extension_attributes:
          $ref: '#/components/schemas/grouped-product-data-grouped-options-extension-interface'
    bundle-data-bundle-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Bundle\Api\Data\BundleOptionInterface
    quote-data-product-option-interface:
      type: object
      description: Product option interface
      properties:
        extension_attributes:
          $ref: '#/components/schemas/quote-data-product-option-extension-interface'
    grouped-product-data-grouped-options-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\GroupedProduct\Api\Data\GroupedOptionsInterface
    quote-data-product-option-extension-interface_2:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\ProductOptionInterface
      properties:
        custom_options:
          type: array
          items:
            $ref: '#/components/schemas/catalog-data-custom-option-interface'
        downloadable_option:
          $ref: '#/components/schemas/downloadable-data-downloadable-option-interface'
        bundle_options:
          type: array
          items:
            $ref: '#/components/schemas/bundle-data-bundle-option-interface'
        configurable_item_options:
          type: array
          items:
            $ref: '#/components/schemas/configurable-product-data-configurable-item-option-value-interface'
    sales-rule-data-rule-discount-interface_2:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_id:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_id
    quote-data-cart-item-extension-interface_2:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\CartItemInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface_2'
        quote_item_esizeme_info:
          $ref: '#/components/schemas/eob-esizeme-data-quote-item-link-interface'
    eob-esizeme-data-quote-item-link-interface:
      type: object
      description: ''
      properties:
        quote_item_id:
          type: integer
        parent_sku:
          type: string
        size:
          type: string
        scan_id:
          type: string
        recommended_size:
          type: string
        data:
          type: string
      required:
      - data
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
      description: Magento integration/customer bearer token supplied in the Authorization header (Bearer <token>).
x-refined-from:
- modivo-commerce-rest-api-openapi.yml
- modivo-eobuwie-commerce-rest-api-openapi.yml
