openapi: 3.2.0
info:
  title: Modivo Quote Guest Billing Address Management V1 API
  version: '2.4'
  x-refined-note:
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged quoteGuestBillingAddressManagementV1 across 2 of this provider''s published API definitions: modivo-commerce-rest-api-openapi.yml, modivo-eobuwie-commerce-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://modivo.pl/rest/all
- url: https://eobuwie.com.pl/rest/all
tags:
- name: quoteGuestBillingAddressManagementV1
  description: Billing address management interface for guest carts.
paths:
  /V1/guest-carts/{cartId}/billing-address:
    get:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Return the billing address for a specified quote.
      operationId: GetV1GuestcartsCartIdBillingaddress
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quote-data-address-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/quote-data-address-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    post:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Assign a specified billing address to a specified cart.
      operationId: PostV1GuestcartsCartIdBillingaddress
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - address
              properties:
                address:
                  $ref: '#/components/schemas/quote-data-address-interface'
                useForShipping:
                  type: boolean
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - address
              properties:
                address:
                  $ref: '#/components/schemas/quote-data-address-interface'
                useForShipping:
                  type: boolean
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: integer
                description: Address ID.
            application/xml:
              schema:
                type: integer
                description: Address ID.
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
components:
  schemas:
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    framework-attribute-interface:
      type: object
      description: Interface for custom attribute value.
      properties:
        attribute_code:
          type: string
          description: Attribute code
        value:
          type: string
          description: Attribute value
      required:
      - attribute_code
      - value
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    sales-rule-data-rule-discount-interface:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_i_d:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_i_d
    sales-rule-data-discount-data-interface:
      type: object
      description: Discount Data Interface
      properties:
        amount:
          type: number
          description: Amount
        base_amount:
          type: number
          description: Base Amount
        original_amount:
          type: number
          description: Original Amount
        base_original_amount:
          type: number
          description: Base Original Amount
      required:
      - amount
      - base_amount
      - original_amount
      - base_original_amount
    quote-data-address-interface:
      type: object
      description: Interface AddressInterface
      properties:
        id:
          type: integer
          description: Id
        region:
          type: string
          description: Region name
        region_id:
          type: integer
          description: Region id
        region_code:
          type: string
          description: Region code
        country_id:
          type: string
          description: Country id
        street:
          type: array
          description: Street
          items:
            type: string
        company:
          type: string
          description: Company
        telephone:
          type: string
          description: Telephone number
        fax:
          type: string
          description: Fax number
        postcode:
          type: string
          description: Postcode
        city:
          type: string
          description: City name
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        vat_id:
          type: string
          description: Vat id
        customer_id:
          type: integer
          description: Customer id
        email:
          type: string
          description: Billing/shipping email
        same_as_billing:
          type: integer
          description: Same as billing flag
        customer_address_id:
          type: integer
          description: Customer address id
        save_in_address_book:
          type: integer
          description: Save in address book flag
        extension_attributes:
          $ref: '#/components/schemas/quote-data-address-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - region
      - region_id
      - region_code
      - country_id
      - street
      - telephone
      - postcode
      - city
      - firstname
      - lastname
      - email
    quote-data-address-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\AddressInterface
      properties:
        pickup_location_code:
          type: string
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface'
        address_title:
          type: string
        customer_address_type:
          type: string
        buy_as:
          type: string
        address_is_active:
          type: string
        address_house_number:
          type: string
        address_local_number:
          type: string
        address_avatar_id:
          type: string
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    sales-rule-data-rule-discount-interface_2:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_id:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_id
    quote-data-address-extension-interface_2:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\AddressInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface_2'
        address_title:
          type: string
        customer_address_type:
          type: string
        buy_as:
          type: string
        address_is_active:
          type: string
        address_house_number:
          type: string
        address_local_number:
          type: string
        address_avatar_id:
          type: string
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
      description: Magento integration/customer bearer token supplied in the Authorization header (Bearer <token>).
x-refined-from:
- modivo-commerce-rest-api-openapi.yml
- modivo-eobuwie-commerce-rest-api-openapi.yml
