openapi: 3.2.0
info:
  title: Modivo Directory Country Information Acquirer V1 API
  version: '2.4'
  x-refined-note:
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged directoryCountryInformationAcquirerV1 across 2 of this provider''s published API definitions: modivo-commerce-rest-api-openapi.yml, modivo-eobuwie-commerce-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://modivo.pl/rest/all
- url: https://eobuwie.com.pl/rest/all
tags:
- name: directoryCountryInformationAcquirerV1
  description: Country information acquirer interface
paths:
  /V1/directory/countries:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get all countries and regions information for the store.
      operationId: GetV1DirectoryCountries
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directory-data-country-information-interface'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
  /V1/directory/countries/{countryId}:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get country and region information for the store.
      operationId: GetV1DirectoryCountriesCountryId
      parameters:
      - name: countryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/directory-data-country-information-interface'
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
components:
  schemas:
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    directory-data-country-information-interface:
      type: object
      description: Country Information interface.
      properties:
        id:
          type: string
          description: The country id for the store.
        two_letter_abbreviation:
          type: string
          description: The country 2 letter abbreviation for the store.
        three_letter_abbreviation:
          type: string
          description: The country 3 letter abbreviation for the store.
        full_name_locale:
          type: string
          description: The country full name (in store locale) for the store.
        full_name_english:
          type: string
          description: The country full name (in English) for the store.
        available_regions:
          type: array
          description: The available regions for the store.
          items:
            $ref: '#/components/schemas/directory-data-region-information-interface'
        extension_attributes:
          $ref: '#/components/schemas/directory-data-country-information-extension-interface'
      required:
      - id
      - two_letter_abbreviation
      - three_letter_abbreviation
      - full_name_locale
      - full_name_english
    directory-data-region-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\RegionInformationInterface
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    directory-data-country-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\CountryInformationInterface
    directory-data-region-information-interface:
      type: object
      description: Region Information interface.
      properties:
        id:
          type: string
          description: Region id
        code:
          type: string
          description: Region code
        name:
          type: string
          description: Region name
        extension_attributes:
          $ref: '#/components/schemas/directory-data-region-information-extension-interface'
      required:
      - id
      - code
      - name
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
      description: Magento integration/customer bearer token supplied in the Authorization header (Bearer <token>).
x-refined-from:
- modivo-commerce-rest-api-openapi.yml
- modivo-eobuwie-commerce-rest-api-openapi.yml
