openapi: 3.2.0
info:
  title: Modivo Customer Account Management V1 API
  version: '2.4'
  x-refined-note:
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged customerAccountManagementV1 across 2 of this provider''s published API definitions: modivo-commerce-rest-api-openapi.yml, modivo-eobuwie-commerce-rest-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://modivo.pl/rest/all
- url: https://eobuwie.com.pl/rest/all
tags:
- name: customerAccountManagementV1
  description: Interface for managing customers accounts.
paths:
  /V1/customers:
    post:
      tags:
      - customerAccountManagementV1
      description: Create customer account. Perform necessary business operations like sending email.
      operationId: PostV1Customers
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - customer
              properties:
                customer:
                  $ref: '#/components/schemas/customer-data-customer-interface'
                password:
                  type: string
                redirectUrl:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - customer
              properties:
                customer:
                  $ref: '#/components/schemas/customer-data-customer-interface'
                password:
                  type: string
                redirectUrl:
                  type: string
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer-data-customer-interface'
            application/xml:
              schema:
                $ref: '#/components/schemas/customer-data-customer-interface'
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
  /V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}:
    get:
      tags:
      - customerAccountManagementV1
      description: Check if password reset token is valid.
      operationId: GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken
      parameters:
      - name: customerId
        in: path
        description: If null is given then a customer will be matched by the RP token.
        required: true
        schema:
          type: integer
      - name: resetPasswordLinkToken
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
                description: True if the token is valid
            application/xml:
              schema:
                type: boolean
                description: True if the token is valid
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
  /V1/customers/password:
    put:
      tags:
      - customerAccountManagementV1
      description: Send an email to the customer with a password reset link.
      operationId: PutV1CustomersPassword
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - email
              - template
              properties:
                email:
                  type: string
                template:
                  type: string
                websiteId:
                  type: integer
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - email
              - template
              properties:
                email:
                  type: string
                template:
                  type: string
                websiteId:
                  type: integer
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
                description: true on success
            application/xml:
              schema:
                type: boolean
                description: true on success
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
  /V1/customers/resetPassword:
    post:
      tags:
      - customerAccountManagementV1
      description: Reset customer password.
      operationId: PostV1CustomersResetPassword
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - email
              - resetToken
              - newPassword
              properties:
                email:
                  type: string
                  description: If empty value given then the customer will be matched by the RP token.
                resetToken:
                  type: string
                newPassword:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - email
              - resetToken
              - newPassword
              properties:
                email:
                  type: string
                  description: If empty value given then the customer will be matched by the RP token.
                resetToken:
                  type: string
                newPassword:
                  type: string
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
                description: true on success
            application/xml:
              schema:
                type: boolean
                description: true on success
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
  /V1/customers/isEmailAvailable:
    post:
      tags:
      - customerAccountManagementV1
      description: Check if given email is associated with a customer account in given website.
      operationId: PostV1CustomersIsEmailAvailable
      requestBody:
        required: false
        content:
          application/json:
            schema:
              required:
              - customerEmail
              properties:
                customerEmail:
                  type: string
                websiteId:
                  type: integer
                  description: If not set, will use the current websiteId
              type: object
              xml:
                name: request
          application/xml:
            schema:
              required:
              - customerEmail
              properties:
                customerEmail:
                  type: string
                websiteId:
                  type: integer
                  description: If not set, will use the current websiteId
              type: object
              xml:
                name: request
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
        '500':
          description: Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema:
                $ref: '#/components/schemas/error-response'
    servers:
    - url: https://modivo.pl/rest/all
components:
  schemas:
    customer-data-address-interface:
      type: object
      description: Customer address interface.
      properties:
        id:
          type: integer
          description: ID
        customer_id:
          type: integer
          description: Customer ID
        region:
          $ref: '#/components/schemas/customer-data-region-interface'
        region_id:
          type: integer
          description: Region ID
        country_id:
          type: string
          description: Country code in ISO_3166-2 format
        street:
          type: array
          description: Street
          items:
            type: string
        company:
          type: string
          description: Company
        telephone:
          type: string
          description: Telephone number
        fax:
          type: string
          description: Fax number
        postcode:
          type: string
          description: Postcode
        city:
          type: string
          description: City name
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        vat_id:
          type: string
          description: Vat id
        default_shipping:
          type: boolean
          description: If this address is default shipping address.
        default_billing:
          type: boolean
          description: If this address is default billing address
        extension_attributes:
          $ref: '#/components/schemas/customer-data-address-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    customer-data-region-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\RegionInterface
    framework-attribute-interface:
      type: object
      description: Interface for custom attribute value.
      properties:
        attribute_code:
          type: string
          description: Attribute code
        value:
          type: string
          description: Attribute value
      required:
      - attribute_code
      - value
    customer-data-region-interface:
      type: object
      description: Customer address region interface.
      properties:
        region_code:
          type: string
          description: Region code
        region:
          type: string
          description: Region
        region_id:
          type: integer
          description: Region id
        extension_attributes:
          $ref: '#/components/schemas/customer-data-region-extension-interface'
      required:
      - region_code
      - region
      - region_id
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    customer-data-address-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\AddressInterface
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    customer-data-customer-interface:
      type: object
      description: Customer entity interface for API handling.
      properties:
        id:
          type: integer
          description: Customer id
        group_id:
          type: integer
          description: Group id
        default_billing:
          type: string
          description: Default billing address id
        default_shipping:
          type: string
          description: Default shipping address id
        confirmation:
          type: string
          description: Confirmation
        created_at:
          type: string
          description: Created at time
        updated_at:
          type: string
          description: Updated at time
        created_in:
          type: string
          description: Created in area
        dob:
          type: string
          description: In keeping with current security and privacy best practices, be sure you are aware of any potential legal and security risks associated with the storage of customers’ full date of birth (month, day, year) along with other personal identifiers (e.g., full name) before collecting or processing such data.
        email:
          type: string
          description: Email address
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        gender:
          type: integer
          description: Gender
        store_id:
          type: integer
          description: Store id
        taxvat:
          type: string
          description: Tax Vat
        website_id:
          type: integer
          description: Website id
        addresses:
          type: array
          description: Customer addresses.
          items:
            $ref: '#/components/schemas/customer-data-address-interface'
        disable_auto_group_change:
          type: integer
          description: Disable auto group change flag.
        extension_attributes:
          $ref: '#/components/schemas/customer-data-customer-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - email
      - firstname
      - lastname
    customer-data-customer-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\CustomerInterface
      properties:
        is_subscribed:
          type: boolean
        assistance_allowed:
          type: integer
    customer-data-customer-interface_2:
      type: object
      description: Customer interface.
      properties:
        id:
          type: integer
          description: Customer id
        group_id:
          type: integer
          description: Group id
        default_billing:
          type: string
          description: Default billing address id
        default_shipping:
          type: string
          description: Default shipping address id
        confirmation:
          type: string
          description: Confirmation
        created_at:
          type: string
          description: Created at time
        updated_at:
          type: string
          description: Updated at time
        created_in:
          type: string
          description: Created in area
        dob:
          type: string
          description: Date of birth
        email:
          type: string
          description: Email address
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        gender:
          type: integer
          description: Gender
        store_id:
          type: integer
          description: Store id
        taxvat:
          type: string
          description: Tax Vat
        website_id:
          type: integer
          description: Website id
        addresses:
          type: array
          description: Customer addresses.
          items:
            $ref: '#/components/schemas/customer-data-address-interface'
        disable_auto_group_change:
          type: integer
          description: Disable auto group change flag.
        extension_attributes:
          $ref: '#/components/schemas/customer-data-customer-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - email
      - firstname
      - lastname
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
      description: Magento integration/customer bearer token supplied in the Authorization header (Bearer <token>).
x-refined-from:
- modivo-commerce-rest-api-openapi.yml
- modivo-eobuwie-commerce-rest-api-openapi.yml
