openapi: 3.0.3
info:
  title: eobuwie Commerce REST API
  version: '2.4'
  description: Public REST API surface of eobuwie.com.pl, the MODIVO Group's footwear storefront, served by its Adobe Commerce
    / Magento 2.4 deployment and self-described at https://eobuwie.com.pl/rest/all/schema?services=all. Covers guest cart
    and checkout, guest order placement, customer account management, product render info, directory data, gift messages,
    and eobuwie-specific extensions (My Returns webhook, chatbot order REST API). Mechanically converted from the provider's
    own Swagger 2.0 document; the verbatim original is in openapi/_original/.
  x-source: https://eobuwie.com.pl/rest/all/schema?services=all
servers:
- url: https://eobuwie.com.pl/rest/all
tags:
- name: directoryCurrencyInformationAcquirerV1
  description: Currency information acquirer interface
- name: directoryCountryInformationAcquirerV1
  description: Country information acquirer interface
- name: customerAccountManagementV1
  description: Interface for managing customers accounts.
- name: catalogProductRenderListV1
  description: Interface which provides product renders information for products.
- name: quoteGuestCartRepositoryV1
  description: Cart Repository interface for guest carts.
- name: quoteGuestCartManagementV1
  description: Cart Management interface for guest carts.
- name: quoteGuestShippingMethodManagementV1
  description: Shipping method management interface for guest carts.
- name: quoteGuestShipmentEstimationV1
  description: Interface GuestShipmentEstimationInterface
- name: quoteGuestCartItemRepositoryV1
  description: Cart Item repository interface for guest carts.
- name: quoteGuestPaymentMethodManagementV1
  description: Payment method management interface for guest carts.
- name: quoteGuestBillingAddressManagementV1
  description: Billing address management interface for guest carts.
- name: quoteGuestCouponManagementV1
  description: Coupon management interface for guest carts.
- name: quoteGuestCartTotalManagementV1
  description: Bundled API to collect totals for cart based on shipping/payment methods and additional data.
- name: quoteGuestCartTotalRepositoryV1
  description: Cart totals repository interface for guest carts.
- name: checkoutGuestShippingInformationManagementV1
  description: Interface for managing guest shipping address information
- name: checkoutGuestTotalsInformationManagementV1
  description: Interface for guest quote totals calculation
- name: checkoutGuestPaymentInformationManagementV1
  description: Interface for managing guest payment information
- name: giftMessageGuestCartRepositoryV1
  description: Interface GuestCartRepositoryInterface
- name: giftMessageGuestItemRepositoryV1
  description: Interface GuestItemRepositoryInterface
- name: integrationAdminTokenServiceV1
  description: Interface providing token generation for Admins
- name: integrationCustomerTokenServiceV1
  description: Interface providing token generation for Customers
- name: eobMyReturnsWebhookWebhookV1
  description: ''
- name: eobPlaceOrderOrderManagementV1
  description: ''
- name: chatbotOrderRestApiOrderRestApiServiceV1
  description: ''
paths:
  /V1/directory/currency:
    get:
      tags:
      - directoryCurrencyInformationAcquirerV1
      description: Get currency information for the store.
      operationId: directoryCurrencyInformationAcquirerV1GetCurrencyInfoGet
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id001
                $ref: '#/components/schemas/directory-data-currency-information-interface'
            application/xml:
              schema: *id001
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id002
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id002
  /V1/directory/countries:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get all countries and regions information for the store.
      operationId: directoryCountryInformationAcquirerV1GetCountriesInfoGet
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id003
                type: array
                items:
                  $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema: *id003
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id004
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id004
  /V1/directory/countries/{countryId}:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get country and region information for the store.
      operationId: directoryCountryInformationAcquirerV1GetCountryInfoGet
      parameters:
      - name: countryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id005
                $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema: *id005
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id006
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id006
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id007
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id007
  /V1/customers:
    post:
      tags:
      - customerAccountManagementV1
      description: Create customer account. Perform necessary business operations like sending email.
      operationId: customerAccountManagementV1CreateAccountPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id008
              required:
              - customer
              properties:
                customer:
                  $ref: '#/components/schemas/customer-data-customer-interface'
                password:
                  type: string
                redirectUrl:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id008
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id009
                $ref: '#/components/schemas/customer-data-customer-interface'
            application/xml:
              schema: *id009
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id010
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id010
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id011
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id011
  /V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}:
    get:
      tags:
      - customerAccountManagementV1
      description: Check if password reset token is valid.
      operationId: customerAccountManagementV1ValidateResetPasswordLinkTokenGet
      parameters:
      - name: customerId
        in: path
        description: If null is given then a customer will be matched by the RP token.
        required: true
        schema:
          type: integer
      - name: resetPasswordLinkToken
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id012
                type: boolean
                description: True if the token is valid
            application/xml:
              schema: *id012
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id013
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id013
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id014
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id014
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id015
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id015
  /V1/customers/password:
    put:
      tags:
      - customerAccountManagementV1
      description: Send an email to the customer with a password reset link.
      operationId: customerAccountManagementV1InitiatePasswordResetPut
      requestBody:
        required: false
        content:
          application/json:
            schema: &id016
              required:
              - email
              - template
              properties:
                email:
                  type: string
                template:
                  type: string
                websiteId:
                  type: integer
              type: object
              xml:
                name: request
          application/xml:
            schema: *id016
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id017
                type: boolean
                description: true on success
            application/xml:
              schema: *id017
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id018
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id018
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id019
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id019
  /V1/customers/resetPassword:
    post:
      tags:
      - customerAccountManagementV1
      description: Reset customer password.
      operationId: customerAccountManagementV1ResetPasswordPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id020
              required:
              - email
              - resetToken
              - newPassword
              properties:
                email:
                  type: string
                  description: If empty value given then the customer will be matched by the RP token.
                resetToken:
                  type: string
                newPassword:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id020
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id021
                type: boolean
                description: true on success
            application/xml:
              schema: *id021
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id022
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id022
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id023
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id023
  /V1/customers/isEmailAvailable:
    post:
      tags:
      - customerAccountManagementV1
      description: Check if given email is associated with a customer account in given website.
      operationId: customerAccountManagementV1IsEmailAvailablePost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id024
              required:
              - customerEmail
              properties:
                customerEmail:
                  type: string
                websiteId:
                  type: integer
                  description: If not set, will use the current websiteId
              type: object
              xml:
                name: request
          application/xml:
            schema: *id024
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id025
                type: boolean
            application/xml:
              schema: *id025
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id026
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id026
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id027
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id027
  /V1/products-render-info:
    get:
      tags:
      - catalogProductRenderListV1
      description: Collect and retrieve the list of product render info. This info contains raw prices and formatted prices,
        product name, stock status, store_id, etc.
      operationId: catalogProductRenderListV1GetListGet
      parameters:
      - name: searchCriteria[filterGroups][0][filters][0][field]
        in: query
        description: Field
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][value]
        in: query
        description: Value
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][conditionType]
        in: query
        description: Condition type
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][field]
        in: query
        description: Sorting field.
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][direction]
        in: query
        description: Sorting direction.
        schema:
          type: string
      - name: searchCriteria[pageSize]
        in: query
        description: Page size.
        schema:
          type: integer
      - name: searchCriteria[currentPage]
        in: query
        description: Current page.
        schema:
          type: integer
      - name: storeId
        in: query
        required: true
        schema:
          type: integer
      - name: currencyCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id028
                $ref: '#/components/schemas/catalog-data-product-render-search-results-interface'
            application/xml:
              schema: *id028
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id029
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id029
  /V1/guest-carts/{cartId}:
    get:
      tags:
      - quoteGuestCartRepositoryV1
      description: Enable a guest user to return information for a specified cart.
      operationId: quoteGuestCartRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id030
                $ref: '#/components/schemas/quote-data-cart-interface'
            application/xml:
              schema: *id030
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id031
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id031
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id032
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id032
  /V1/guest-carts:
    post:
      tags:
      - quoteGuestCartManagementV1
      description: Enable an customer or guest user to create an empty cart and quote for an anonymous customer.
      operationId: quoteGuestCartManagementV1CreateEmptyCartPost
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id033
                type: string
                description: Cart ID.
            application/xml:
              schema: *id033
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id034
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id034
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id035
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id035
  /V1/guest-carts/{cartId}/order:
    put:
      tags:
      - quoteGuestCartManagementV1
      description: Place an order for a specified cart.
      operationId: quoteGuestCartManagementV1PlaceOrderPut
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id036
              properties:
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id036
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id037
                type: integer
                description: Order ID.
            application/xml:
              schema: *id037
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id038
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id038
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id039
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id039
  /V1/guest-carts/{cartId}/shipping-methods:
    get:
      tags:
      - quoteGuestShippingMethodManagementV1
      description: List applicable shipping methods for a specified quote.
      operationId: quoteGuestShippingMethodManagementV1GetListGet
      parameters:
      - name: cartId
        in: path
        description: The shopping cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id040
                type: array
                description: An array of shipping methods.
                items:
                  $ref: '#/components/schemas/quote-data-shipping-method-interface'
            application/xml:
              schema: *id040
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id041
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id041
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id042
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id042
  /V1/guest-carts/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - quoteGuestShipmentEstimationV1
      description: Estimate shipping by address and return list of available shipping methods
      operationId: quoteGuestShipmentEstimationV1EstimateByExtendedAddressPost
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id043
              required:
              - address
              properties:
                address:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id043
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id044
                type: array
                description: An array of shipping methods
                items:
                  $ref: '#/components/schemas/quote-data-shipping-method-interface'
            application/xml:
              schema: *id044
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id045
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id045
  /V1/guest-carts/{cartId}/items:
    get:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: List items that are assigned to a specified cart.
      operationId: quoteGuestCartItemRepositoryV1GetListGet
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id046
                type: array
                description: Array of items.
                items:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema: *id046
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id047
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id047
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id048
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id048
    post:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: quoteGuestCartItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id049
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id049
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id050
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema: *id050
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id051
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id051
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id052
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id052
  /V1/guest-carts/{cartId}/items/{itemId}:
    put:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: quoteGuestCartItemRepositoryV1SavePut
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id053
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id053
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id054
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema: *id054
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id055
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id055
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id056
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id056
    delete:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Remove the specified item from the specified cart.
      operationId: quoteGuestCartItemRepositoryV1DeleteByIdDelete
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The item ID of the item to be removed.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id057
                type: boolean
            application/xml:
              schema: *id057
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id058
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id058
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id059
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id059
  /V1/guest-carts/{cartId}/selected-payment-method:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Return the payment method for a specified shopping cart.
      operationId: quoteGuestPaymentMethodManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id060
                $ref: '#/components/schemas/quote-data-payment-interface'
            application/xml:
              schema: *id060
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id061
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id061
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id062
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id062
    put:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Add a specified payment method to a specified shopping cart.
      operationId: quoteGuestPaymentMethodManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id063
              required:
              - method
              properties:
                method:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id063
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id064
                type: integer
                description: Payment method ID.
            application/xml:
              schema: *id064
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id065
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id065
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id066
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id066
  /V1/guest-carts/{cartId}/payment-methods:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: List available payment methods for a specified shopping cart. This call returns an array of objects, but
        detailed information about each object’s attributes might not be included.  See https://devdocs.magento.com/codelinks/attributes.html#GuestPaymentMethodManagementInterface
        to determine which call to use to get detailed information about all attributes for an object.
      operationId: quoteGuestPaymentMethodManagementV1GetListGet
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id067
                type: array
                description: Array of payment methods.
                items:
                  $ref: '#/components/schemas/quote-data-payment-method-interface'
            application/xml:
              schema: *id067
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id068
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id068
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id069
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id069
  /V1/guest-carts/{cartId}/billing-address:
    get:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Return the billing address for a specified quote.
      operationId: quoteGuestBillingAddressManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id070
                $ref: '#/components/schemas/quote-data-address-interface'
            application/xml:
              schema: *id070
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id071
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id071
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id072
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id072
    post:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Assign a specified billing address to a specified cart.
      operationId: quoteGuestBillingAddressManagementV1AssignPost
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id073
              required:
              - address
              properties:
                address:
                  $ref: '#/components/schemas/quote-data-address-interface'
                useForShipping:
                  type: boolean
              type: object
              xml:
                name: request
          application/xml:
            schema: *id073
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id074
                type: integer
                description: Address ID.
            application/xml:
              schema: *id074
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id075
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id075
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id076
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id076
  /V1/guest-carts/{cartId}/coupons:
    get:
      tags:
      - quoteGuestCouponManagementV1
      description: Return information for a coupon in a specified cart.
      operationId: quoteGuestCouponManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id077
                type: string
                description: The coupon code data.
            application/xml:
              schema: *id077
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id078
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id078
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id079
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id079
    delete:
      tags:
      - quoteGuestCouponManagementV1
      description: Delete a coupon from a specified cart.
      operationId: quoteGuestCouponManagementV1RemoveDelete
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id080
                type: boolean
            application/xml:
              schema: *id080
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id081
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id081
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id082
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id082
  /V1/guest-carts/{cartId}/coupons/{couponCode}:
    put:
      tags:
      - quoteGuestCouponManagementV1
      description: Add a coupon by code to a specified cart.
      operationId: quoteGuestCouponManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      - name: couponCode
        in: path
        description: The coupon code data.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id083
                type: boolean
            application/xml:
              schema: *id083
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id084
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id084
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id085
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id085
  /V1/guest-carts/{cartId}/collect-totals:
    put:
      tags:
      - quoteGuestCartTotalManagementV1
      description: Set shipping/billing methods and additional data for cart and collect totals for guest.
      operationId: quoteGuestCartTotalManagementV1CollectTotalsPut
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id086
              required:
              - paymentMethod
              properties:
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                shippingCarrierCode:
                  type: string
                  description: The carrier code.
                shippingMethodCode:
                  type: string
                  description: The shipping method code.
                additionalData:
                  $ref: '#/components/schemas/quote-data-totals-additional-data-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id086
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id087
                $ref: '#/components/schemas/quote-data-totals-interface'
            application/xml:
              schema: *id087
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id088
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id088
  /V1/guest-carts/{cartId}/totals:
    get:
      tags:
      - quoteGuestCartTotalRepositoryV1
      description: Return quote totals data for a specified cart.
      operationId: quoteGuestCartTotalRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id089
                $ref: '#/components/schemas/quote-data-totals-interface'
            application/xml:
              schema: *id089
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id090
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id090
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id091
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id091
  /V1/guest-carts/{cartId}/shipping-information:
    post:
      tags:
      - checkoutGuestShippingInformationManagementV1
      description: ''
      operationId: checkoutGuestShippingInformationManagementV1SaveAddressInformationPost
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id092
              required:
              - addressInformation
              properties:
                addressInformation:
                  $ref: '#/components/schemas/checkout-data-shipping-information-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id092
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id093
                $ref: '#/components/schemas/checkout-data-payment-details-interface'
            application/xml:
              schema: *id093
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id094
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id094
  /V1/guest-carts/{cartId}/totals-information:
    post:
      tags:
      - checkoutGuestTotalsInformationManagementV1
      description: Calculate quote totals based on address and shipping method.
      operationId: checkoutGuestTotalsInformationManagementV1CalculatePost
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id095
              required:
              - addressInformation
              properties:
                addressInformation:
                  $ref: '#/components/schemas/checkout-data-totals-information-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id095
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id096
                $ref: '#/components/schemas/quote-data-totals-interface'
            application/xml:
              schema: *id096
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id097
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id097
  /V1/guest-carts/{cartId}/payment-information:
    post:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Set payment information and place order for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPost
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id098
              required:
              - email
              - paymentMethod
              properties:
                email:
                  type: string
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                billingAddress:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id098
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id099
                type: integer
                description: Order ID.
            application/xml:
              schema: *id099
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id100
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id100
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id101
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id101
    get:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Get payment information
      operationId: checkoutGuestPaymentInformationManagementV1GetPaymentInformationGet
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id102
                $ref: '#/components/schemas/checkout-data-payment-details-interface'
            application/xml:
              schema: *id102
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id103
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id103
  /V1/guest-carts/{cartId}/set-payment-information:
    post:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Set payment information for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationPost
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id104
              required:
              - email
              - paymentMethod
              properties:
                email:
                  type: string
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                billingAddress:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id104
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id105
                type: integer
                description: Order ID.
            application/xml:
              schema: *id105
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id106
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id106
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id107
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id107
  /V1/guest-carts/{cartId}/gift-message:
    get:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Return the gift message for a specified order.
      operationId: giftMessageGuestCartRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        description: The shopping cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id108
                $ref: '#/components/schemas/gift-message-data-message-interface'
            application/xml:
              schema: *id108
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id109
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id109
    post:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Set the gift message for an entire order.
      operationId: giftMessageGuestCartRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id110
              required:
              - giftMessage
              properties:
                giftMessage:
                  $ref: '#/components/schemas/gift-message-data-message-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id110
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id111
                type: boolean
            application/xml:
              schema: *id111
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id112
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id112
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id113
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id113
  /V1/guest-carts/{cartId}/gift-message/{itemId}:
    get:
      tags:
      - giftMessageGuestItemRepositoryV1
      description: Return the gift message for a specified item in a specified shopping cart.
      operationId: giftMessageGuestItemRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        description: The shopping cart ID.
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The item ID.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id114
                $ref: '#/components/schemas/gift-message-data-message-interface'
            application/xml:
              schema: *id114
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id115
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id115
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id116
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id116
    post:
      tags:
      - giftMessageGuestItemRepositoryV1
      description: Set the gift message for a specified item in a specified shopping cart.
      operationId: giftMessageGuestItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The item ID.
        required: true
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema: &id117
              required:
              - giftMessage
              properties:
                giftMessage:
                  $ref: '#/components/schemas/gift-message-data-message-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id117
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id118
                type: boolean
            application/xml:
              schema: *id118
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id119
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id119
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id120
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id120
  /V1/integration/admin/token:
    post:
      tags:
      - integrationAdminTokenServiceV1
      description: Create access token for admin given the admin credentials.
      operationId: integrationAdminTokenServiceV1CreateAdminAccessTokenPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id121
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id121
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id122
                type: string
                description: Token created
            application/xml:
              schema: *id122
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id123
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id123
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id124
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id124
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id125
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id125
  /V1/integration/customer/token:
    post:
      tags:
      - integrationCustomerTokenServiceV1
      description: Create access token for admin given the customer credentials.
      operationId: integrationCustomerTokenServiceV1CreateCustomerAccessTokenPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id126
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id126
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id127
                type: string
                description: Token created
            application/xml:
              schema: *id127
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id128
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id128
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id129
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id129
  /V1/my-return-webhook/add-return-number-to-order:
    post:
      tags:
      - eobMyReturnsWebhookWebhookV1
      description: Add return number to order api
      operationId: eobMyReturnsWebhookWebhookV1AddReturnNumberToOrderPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id130
              required:
              - id
              - hash
              properties:
                id:
                  type: string
                hash:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id130
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id131
                type: string
            application/xml:
              schema: *id131
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id132
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id132
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id133
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id133
  /V1/orderManagement/placeOrder:
    post:
      tags:
      - eobPlaceOrderOrderManagementV1
      description: ''
      operationId: eobPlaceOrderOrderManagementV1PlaceOrderPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id134
              required:
              - order
              properties:
                order:
                  $ref: '#/components/schemas/eob-place-order-data-order-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id134
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id135
                $ref: '#/components/schemas/eob-place-order-data-order-response-interface'
            application/xml:
              schema: *id135
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id136
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id136
  /V1/chatbot/order/status:
    post:
      tags:
      - chatbotOrderRestApiOrderRestApiServiceV1
      description: Returns order status complex info
      operationId: chatbotOrderRestApiOrderRestApiServiceV1GetStatusPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id137
              required:
              - orderAuthInput
              properties:
                orderAuthInput:
                  $ref: '#/components/schemas/chatbot-order-rest-api-data-order-auth-input-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id137
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id138
                $ref: '#/components/schemas/chatbot-order-rest-api-data-order-status-output-interface'
            application/xml:
              schema: *id138
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id139
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id139
  /V1/chatbot/order/request-cancellation:
    post:
      tags:
      - chatbotOrderRestApiOrderRestApiServiceV1
      description: Requests for order cancellation
      operationId: chatbotOrderRestApiOrderRestApiServiceV1RequestCancellationPost
      requestBody:
        required: false
        content:
          application/json:
            schema: &id140
              required:
              - orderAuthInput
              properties:
                orderAuthInput:
                  $ref: '#/components/schemas/chatbot-order-rest-api-data-order-auth-input-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id140
      responses:
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id141
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id141
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id142
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id142
components:
  schemas:
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    directory-data-currency-information-interface:
      type: object
      description: Currency Information interface.
      properties:
        base_currency_code:
          type: string
          description: The base currency code for the store.
        base_currency_symbol:
          type: string
          description: The currency symbol of the base currency for the store.
        default_display_currency_code:
          type: string
          description: The default display currency code for the store.
        default_display_currency_symbol:
          type: string
          description: The currency symbol of the default display currency for the store.
        available_currency_codes:
          type: array
          description: The list of allowed currency codes for the store.
          items:
            type: string
        exchange_rates:
          type: array
          description: The list of exchange rate information for the store.
          items:
            $ref: '#/components/schemas/directory-data-exchange-rate-interface'
        extension_attributes:
          $ref: '#/components/schemas/directory-data-currency-information-extension-interface'
      required:
      - base_currency_code
      - base_currency_symbol
      - default_display_currency_code
      - default_display_currency_symbol
      - available_currency_codes
      - exchange_rates
    directory-data-exchange-rate-interface:
      type: object
      description: Exchange Rate interface.
      properties:
        currency_to:
          type: string
          description: The currency code associated with the exchange rate.
        rate:
          type: number
          description: The exchange rate for the associated currency and the store's base currency.
        extension_attributes:
          $ref: '#/components/schemas/directory-data-exchange-rate-extension-interface'
      required:
      - currency_to
      - rate
    directory-data-exchange-rate-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\ExchangeRateInterface
    directory-data-currency-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\CurrencyInformationInterface
    directory-data-country-information-interface:
      type: object
      description: Country Information interface.
      properties:
        id:
          type: string
          description: The country id for the store.
        two_letter_abbreviation:
          type: string
          description: The country 2 letter abbreviation for the store.
        three_letter_abbreviation:
          type: string
          description: The country 3 letter abbreviation for the store.
        full_name_locale:
          type: string
          description: The country full name (in store locale) for the store.
        full_name_english:
          type: string
          description: The country full name (in English) for the store.
        available_regions:
          type: array
          description: The available regions for the store.
          items:
            $ref: '#/components/schemas/directory-data-region-information-interface'
        extension_attributes:
          $ref: '#/components/schemas/directory-data-country-information-extension-interface'
      required:
      - id
      - two_letter_abbreviation
      - three_letter_abbreviation
      - full_name_locale
      - full_name_english
    directory-data-region-information-interface:
      type: object
      description: Region Information interface.
      properties:
        id:
          type: string
          description: Region id
        code:
          type: string
          description: Region code
        name:
          type: string
          description: Region name
        extension_attributes:
          $ref: '#/components/schemas/directory-data-region-information-extension-interface'
      required:
      - id
      - code
      - name
    directory-data-region-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\RegionInformationInterface
    directory-data-country-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\CountryInformationInterface
    customer-data-customer-interface:
      type: object
      description: Customer interface.
      properties:
        id:
          type: integer
          description: Customer id
        group_id:
          type: integer
          description: Group id
        default_billing:
          type: string
          description: Default billing address id
        default_shipping:
          type: string
          description: Default shipping address id
        confirmation:
          type: string
          description: Confirmation
        created_at:
          type: string
          description: Created at time
        updated_at:
          type: string
          description: Updated at time
        created_in:
          type: string
          description: Created in area
        dob:
          type: string
          description: Date of birth
        email:
          type: string
          description: Email address
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        gender:
          type: integer
          description: Gender
        store_id:
          type: integer
          description: Store id
        taxvat:
          type: string
          description: Tax Vat
        website_id:
          type: integer
          description: Website id
        addresses:
          type: array
          description: Customer addresses.
          items:
            $ref: '#/components/schemas/customer-data-address-interface'
        disable_auto_group_change:
          type: integer
          description: Disable auto group change flag.
        extension_attributes:
          $ref: '#/components/schemas/customer-data-customer-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - email
      - firstname
      - lastname
    customer-data-address-interface:
      type: object
      description: Customer address interface.
      properties:
        id:
          type: integer
          description: ID
        customer_id:
          type: integer
          description: Customer ID
        region:
          $ref: '#/components/schemas/customer-data-region-interface'
        region_id:
          type: integer
          description: Region ID
        country_id:
          type: string
          description: Country code in ISO_3166-2 format
        street:
          type: array
          description: Street
          items:
            type: string
        company:
          type: string
          description: Company
        telephone:
          type: string
          description: Telephone number
        fax:
          type: string
          description: Fax number
        postcode:
          type: string
          description: Postcode
        city:
          type: string
          description: City name
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        vat_id:
          type: string
          description: Vat id
        default_shipping:
          type: boolean
          description: If this address is default shipping address.
        default_billing:
          type: boolean
          description: If this address is default billing address
        extension_attributes:
          $ref: '#/components/schemas/customer-data-address-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
    customer-data-region-interface:
      type: object
      description: Customer address region interface.
      properties:
        region_code:
          type: string
          description: Region code
        region:
          type: string
          description: Region
        region_id:
          type: integer
          description: Region id
        extension_attributes:
          $ref: '#/components/schemas/customer-data-region-extension-interface'
      required:
      - region_code
      - region
      - region_id
    customer-data-region-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\RegionInterface
    customer-data-address-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\AddressInterface
    framework-attribute-interface:
      type: object
      description: Interface for custom attribute value.
      properties:
        attribute_code:
          type: string
          description: Attribute code
        value:
          type: string
          description: Attribute value
      required:
      - attribute_code
      - value
    customer-data-customer-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\CustomerInterface
      properties:
        assistance_allowed:
          type: integer
        is_subscribed:
          type: boolean
    catalog-data-product-render-search-results-interface:
      type: object
      description: Dto that holds render information about products
      properties:
        items:
          type: array
          description: List of products rendered information
          items:
            $ref: '#/components/schemas/catalog-data-product-render-interface'
      required:
      - items
    catalog-data-product-render-interface:
      type: object
      description: Represents Data Object which holds enough information to render product This information is put into part
        as Add To Cart or Add to Compare Data or Price Data
      properties:
        add_to_cart_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
        add_to_compare_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
        price_info:
          $ref: '#/components/schemas/catalog-data-product-render-price-info-interface'
        images:
          type: array
          description: Enough information, that needed to render image on front
          items:
            $ref: '#/components/schemas/catalog-data-product-render-image-interface'
        url:
          type: string
          description: Product url
        id:
          type: integer
          description: Product identifier
        name:
          type: string
          description: Product name
        type:
          type: string
          description: Product type. Such as bundle, grouped, simple, etc...
        is_salable:
          type: string
          description: Information about product saleability (In Stock)
        store_id:
          type: integer
          description: Information about current store id or requested store id
        currency_code:
          type: string
          description: Current or desired currency code to product
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-extension-interface'
      required:
      - add_to_cart_button
      - add_to_compare_button
      - price_info
      - images
      - url
      - id
      - name
      - type
      - is_salable
      - store_id
      - currency_code
      - extension_attributes
    catalog-data-product-render-button-interface:
      type: object
      description: 'Button interface. This interface represents all manner of product buttons: add to cart, add to compare,
        etc... The buttons describes by this interface should have interaction with backend'
      properties:
        post_data:
          type: string
          description: Post data
        url:
          type: string
          description: Url, needed to add product to cart
        required_options:
          type: boolean
          description: Flag whether a product has options or not
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-button-extension-interface'
      required:
      - post_data
      - url
      - required_options
    catalog-data-product-render-button-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\ButtonInterface
    catalog-data-product-render-price-info-interface:
      type: object
      description: Price interface.
      properties:
        final_price:
          type: number
          description: Final price
        max_price:
          type: number
          description: Max price of a product
        max_regular_price:
          type: number
          description: Max regular price
        minimal_regular_price:
          type: number
          description: Minimal regular price
        special_price:
          type: number
          description: Special price
        minimal_price:
          type: number
          description: Minimal price
        regular_price:
          type: number
          description: Regular price
        formatted_prices:
          $ref: '#/components/schemas/catalog-data-product-render-formatted-price-info-interface'
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-price-info-extension-interface'
      required:
      - final_price
      - max_price
      - max_regular_price
      - minimal_regular_price
      - special_price
      - minimal_price
      - regular_price
      - formatted_prices
    catalog-data-product-render-formatted-price-info-interface:
      type: object
      description: 'Formatted Price interface. Aggregate formatted html with price representations. E.g.: <span class="price">$9.00</span>
        Consider currency, rounding and html'
      properties:
        final_price:
          type: string
          description: Html with final price
        max_price:
          type: string
          description: Max price of a product
        minimal_price:
          type: string
          description: The minimal price of the product or variation
        max_regular_price:
          type: string
          description: Max regular price
        minimal_regular_price:
          type: string
          description: Minimal regular price
        special_price:
          type: string
          description: Special price
        regular_price:
          type: string
          description: Price - is price of product without discounts and special price with taxes and fixed product tax
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-formatted-price-info-extension-interface'
      required:
      - final_price
      - max_price
      - minimal_price
      - max_regular_price
      - minimal_regular_price
      - special_price
      - regular_price
    catalog-data-product-render-formatted-price-info-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\FormattedPriceInfoInterface
    catalog-data-product-render-price-info-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\PriceInfoInterface
      properties:
        msrp:
          $ref: '#/components/schemas/msrp-data-product-render-msrp-price-info-interface'
        tax_adjustments:
          $ref: '#/components/schemas/catalog-data-product-render-price-info-interface'
        weee_attributes:
          type: array
          items:
            $ref: '#/components/schemas/weee-data-product-render-weee-adjustment-attribute-interface'
        weee_adjustment:
          type: string
    msrp-data-product-render-msrp-price-info-interface:
      type: object
      description: Price interface.
      properties:
        msrp_price:
          type: string
        is_applicable:
          type: string
        is_shown_price_on_gesture:
          type: string
        msrp_message:
          type: string
        explanation_message:
          type: string
        extension_attributes:
          $ref: '#/components/schemas/msrp-data-product-render-msrp-price-info-extension-interface'
      required:
      - msrp_price
      - is_applicable
      - is_shown_price_on_gesture
      - msrp_message
      - explanation_message
    msrp-data-product-render-msrp-price-info-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Msrp\Api\Data\ProductRender\MsrpPriceInfoInterface
    weee-data-product-render-weee-adjustment-attribute-interface:
      type: object
      description: List of all weee attributes, their amounts, etc.., that product has
      properties:
        amount:
          type: string
          description: Weee attribute amount
        tax_amount:
          type: string
          description: Tax which is calculated to fixed product tax attribute
        tax_amount_incl_tax:
          type: string
          description: Tax amount of weee attribute
        amount_excl_tax:
          type: string
          description: Product amount exclude tax
        attribute_code:
          type: string
          description: Weee attribute code
        extension_attributes:
          $ref: '#/components/schemas/weee-data-product-render-weee-adjustment-attribute-extension-interface'
      required:
      - amount
      - tax_amount
      - tax_amount_incl_tax
      - amount_excl_tax
      - attribute_code
      - extension_attributes
    weee-data-product-render-weee-adjustment-attribute-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Weee\Api\Data\ProductRender\WeeeAdjustmentAttributeInterface
    catalog-data-product-render-image-interface:
      type: object
      description: Product Render image interface. Represents physical characteristics of image, that can be used in product
        listing or product view
      properties:
        url:
          type: string
          description: Image url
        code:
          type: string
          description: Image code
        height:
          type: number
          description: Image height
        width:
          type: number
          description: Image width in px
        label:
          type: string
          description: Image label
        resized_width:
          type: number
          description: Resize width
        resized_height:
          type: number
          description: Resize height
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-product-render-image-extension-interface'
      required:
      - url
      - code
      - height
      - width
      - label
      - resized_width
      - resized_height
    catalog-data-product-render-image-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRender\ImageInterface
    catalog-data-product-render-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductRenderInterface
      properties:
        review_html:
          type: string
        wishlist_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
    quote-data-cart-interface:
      type: object
      description: Interface CartInterface
      properties:
        id:
          type: integer
          description: Cart/quote ID.
        created_at:
          type: string
          description: Cart creation date and time. Otherwise, null.
        updated_at:
          type: string
          description: Cart last update date and time. Otherwise, null.
        converted_at:
          type: string
          description: Cart conversion date and time. Otherwise, null.
        is_active:
          type: boolean
          description: Active status flag value. Otherwise, null.
        is_virtual:
          type: boolean
          description: Virtual flag value. Otherwise, null.
        items:
          type: array
          description: Array of items. Otherwise, null.
          items:
            $ref: '#/components/schemas/quote-data-cart-item-interface'
        items_count:
          type: integer
          description: Number of different items or products in the cart. Otherwise, null.
        items_qty:
          type: number
          description: Total quantity of all cart items. Otherwise, null.
        customer:
          $ref: '#/components/schemas/customer-data-customer-interface'
        billing_address:
          $ref: '#/components/schemas/quote-data-address-interface'
        reserved_order_id:
          type: string
          description: Reserved order ID. Otherwise, null.
        orig_order_id:
          type: integer
          description: Original order ID. Otherwise, null.
        currency:
          $ref: '#/components/schemas/quote-data-currency-interface'
        customer_is_guest:
          type: boolean
          description: For guest customers, false for logged in customers
        customer_note:
          type: string
          description: Notice text
        customer_note_notify:
          type: boolean
          description: Customer notification flag
        customer_tax_class_id:
          type: integer
          description: Customer tax class ID.
        store_id:
          type: integer
          description: Store identifier
        extension_attributes:
          $ref: '#/components/schemas/quote-data-cart-extension-interface'
      required:
      - id
      - customer
      - store_id
    quote-data-cart-item-interface:
      type: object
      description: Interface CartItemInterface
      properties:
        item_id:
          type: integer
          description: Item ID. Otherwise, null.
        sku:
          type: string
          description: Product SKU. Otherwise, null.
        qty:
          type: number
          description: Product quantity.
        name:
          type: string
          description: Product name. Otherwise, null.
        price:
          type: number
          description: Product price. Otherwise, null.
        product_type:
          type: string
          description: Product type. Otherwise, null.
        quote_id:
          type: string
          description: Quote id.
        product_option:
          $ref: '#/components/schemas/quote-data-product-option-interface'
        extension_attributes:
          $ref: '#/components/schemas/quote-data-cart-item-extension-interface'
      required:
      - qty
      - quote_id
    quote-data-product-option-interface:
      type: object
      description: Product option interface
      properties:
        extension_attributes:
          $ref: '#/components/schemas/quote-data-product-option-extension-interface'
    quote-data-product-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\ProductOptionInterface
      properties:
        custom_options:
          type: array
          items:
            $ref: '#/components/schemas/catalog-data-custom-option-interface'
        downloadable_option:
          $ref: '#/components/schemas/downloadable-data-downloadable-option-interface'
        bundle_options:
          type: array
          items:
            $ref: '#/components/schemas/bundle-data-bundle-option-interface'
        configurable_item_options:
          type: array
          items:
            $ref: '#/components/schemas/configurable-product-data-configurable-item-option-value-interface'
    catalog-data-custom-option-interface:
      type: object
      description: Interface CustomOptionInterface
      properties:
        option_id:
          type: string
          description: Option id
        option_value:
          type: string
          description: Option value
        extension_attributes:
          $ref: '#/components/schemas/catalog-data-custom-option-extension-interface'
      required:
      - option_id
      - option_value
    catalog-data-custom-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Catalog\Api\Data\CustomOptionInterface
      properties:
        file_info:
          $ref: '#/components/schemas/framework-data-image-content-interface'
    framework-data-image-content-interface:
      type: object
      description: Image Content data interface
      properties:
        base64_encoded_data:
          type: string
          description: Media data (base64 encoded content)
        type:
          type: string
          description: MIME type
        name:
          type: string
          description: Image name
      required:
      - base64_encoded_data
      - type
      - name
    downloadable-data-downloadable-option-interface:
      type: object
      description: Downloadable Option
      properties:
        downloadable_links:
          type: array
          description: The list of downloadable links
          items:
            type: integer
      required:
      - downloadable_links
    bundle-data-bundle-option-interface:
      type: object
      description: Interface BundleOptionInterface
      properties:
        option_id:
          type: integer
          description: Bundle option id.
        option_qty:
          type: integer
          description: Bundle option quantity.
        option_selections:
          type: array
          description: Bundle option selection ids.
          items:
            type: integer
        extension_attributes:
          $ref: '#/components/schemas/bundle-data-bundle-option-extension-interface'
      required:
      - option_id
      - option_qty
      - option_selections
    bundle-data-bundle-option-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Bundle\Api\Data\BundleOptionInterface
    configurable-product-data-configurable-item-option-value-interface:
      type: object
      description: Interface ConfigurableItemOptionValueInterface
      properties:
        option_id:
          type: string
          description: Option SKU
        option_value:
          type: integer
          description: Item id
        extension_attributes:
          $ref: '#/components/schemas/configurable-product-data-configurable-item-option-value-extension-interface'
      required:
      - option_id
    configurable-product-data-configurable-item-option-value-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\ConfigurableProduct\Api\Data\ConfigurableItemOptionValueInterface
    quote-data-cart-item-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\CartItemInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface'
        quote_item_esizeme_info:
          $ref: '#/components/schemas/eob-esizeme-data-quote-item-link-interface'
    sales-rule-data-rule-discount-interface:
      type: object
      description: Rule discount Interface
      properties:
        discount_data:
          $ref: '#/components/schemas/sales-rule-data-discount-data-interface'
        rule_label:
          type: string
          description: Rule Label
        rule_id:
          type: integer
          description: Rule ID
      required:
      - discount_data
      - rule_label
      - rule_id
    sales-rule-data-discount-data-interface:
      type: object
      description: Discount Data Interface
      properties:
        amount:
          type: number
          description: Amount
        base_amount:
          type: number
          description: Base Amount
        original_amount:
          type: number
          description: Original Amount
        base_original_amount:
          type: number
          description: Base Original Amount
      required:
      - amount
      - base_amount
      - original_amount
      - base_original_amount
    eob-esizeme-data-quote-item-link-interface:
      type: object
      description: ''
      properties:
        quote_item_id:
          type: integer
        parent_sku:
          type: string
        size:
          type: string
        scan_id:
          type: string
        recommended_size:
          type: string
        data:
          type: string
      required:
      - data
    quote-data-address-interface:
      type: object
      description: Interface AddressInterface
      properties:
        id:
          type: integer
          description: Id
        region:
          type: string
          description: Region name
        region_id:
          type: integer
          description: Region id
        region_code:
          type: string
          description: Region code
        country_id:
          type: string
          description: Country id
        street:
          type: array
          description: Street
          items:
            type: string
        company:
          type: string
          description: Company
        telephone:
          type: string
          description: Telephone number
        fax:
          type: string
          description: Fax number
        postcode:
          type: string
          description: Postcode
        city:
          type: string
          description: City name
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        vat_id:
          type: string
          description: Vat id
        customer_id:
          type: integer
          description: Customer id
        email:
          type: string
          description: Billing/shipping email
        same_as_billing:
          type: integer
          description: Same as billing flag
        customer_address_id:
          type: integer
          description: Customer address id
        save_in_address_book:
          type: integer
          description: Save in address book flag
        extension_attributes:
          $ref: '#/components/schemas/quote-data-address-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - region
      - region_id
      - region_code
      - country_id
      - street
      - telephone
      - postcode
      - city
      - firstname
      - lastname
      - email
    quote-data-address-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\AddressInterface
      properties:
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/sales-rule-data-rule-discount-interface'
        address_title:
          type: string
        customer_address_type:
          type: string
        buy_as:
          type: string
        address_is_active:
          type: string
        address_house_number:
          type: string
        address_local_number:
          type: string
        address_avatar_id:
          type: string
    quote-data-currency-interface:
      type: object
      description: Interface CurrencyInterface
      properties:
        global_currency_code:
          type: string
          description: Global currency code
        base_currency_code:
          type: string
          description: Base currency code
        store_currency_code:
          type: string
          description: Store currency code
        quote_currency_code:
          type: string
          description: Quote currency code
        store_to_base_rate:
          type: number
          description: Store currency to base currency rate
        store_to_quote_rate:
          type: number
          description: Store currency to quote currency rate
        base_to_global_rate:
          type: number
          description: Base currency to global currency rate
        base_to_quote_rate:
          type: number
          description: Base currency to quote currency rate
        extension_attributes:
          $ref: '#/components/schemas/quote-data-currency-extension-interface'
    quote-data-currency-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\CurrencyInterface
    quote-data-cart-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\CartInterface
      properties:
        shipping_assignments:
          type: array
          items:
            $ref: '#/components/schemas/quote-data-shipping-assignment-interface'
        extended_data:
          $ref: '#/components/schemas/eob-sales-data-quote-extension-interface'
        dpd_parcel_shop:
          type: string
        applied_duty:
          $ref: '#/components/schemas/eob-duty-calculator-data-duty-interface'
        inpost_point:
          type: string
        force_inpost_point_flag:
          type: boolean
        shipping_points:
          type: string
        shipping_option:
          type: string
        shipping_option_title:
          type: string
        shipping_option_description:
          type: string
        speedy_parcel_shop:
          type: string
        store_pickup_place_id:
          type: string
        persist_store_pickup_place_id_flag:
          type: boolean
    quote-data-shipping-assignment-interface:
      type: object
      description: Interface ShippingAssignmentInterface
      properties:
        shipping:
          $ref: '#/components/schemas/quote-data-shipping-interface'
        items:
          type: array
          items:
            $ref: '#/components/schemas/quote-data-cart-item-interface'
        extension_attributes:
          $ref: '#/components/schemas/quote-data-shipping-assignment-extension-interface'
      required:
      - shipping
      - items
    quote-data-shipping-interface:
      type: object
      description: Interface ShippingInterface
      properties:
        address:
          $ref: '#/components/schemas/quote-data-address-interface'
        method:
          type: string
          description: Shipping method
        extension_attributes:
          $ref: '#/components/schemas/quote-data-shipping-extension-interface'
      required:
      - address
      - method
    quote-data-shipping-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Quote\Api\Data\ShippingInterface
    quote-data-shipping-assignment-extension-interface:
      type: object
[...]
