openapi: 3.0.3
info:
  title: MODIVO Commerce REST API
  version: '2.4'
  description: Public REST API surface of the MODIVO storefront (modivo.pl), served by its Adobe Commerce / Magento 2.4 deployment
    and self-described at https://modivo.pl/rest/all/schema?services=all. Covers guest cart and checkout, guest order placement,
    marketplace order placement, customer account management, product render info, search, directory data, gift messages,
    in-store pickup locations, PayPal/Braintree payment services, and MODIVO-specific extensions (MODIVO My Returns webhook,
    eobuwie JWT service, Trustmate review integration). Anonymous access is limited to unauthenticated storefront operations;
    the remainder requires a Magento integration or customer bearer token. Mechanically converted from the provider's own
    Swagger 2.0 document; the verbatim original is in openapi/_original/.
  x-source: https://modivo.pl/rest/all/schema?services=all
servers:
- url: https://modivo.pl/rest/all
tags:
- name: directoryCurrencyInformationAcquirerV1
  description: Currency information acquirer interface
- name: directoryCountryInformationAcquirerV1
  description: Country information acquirer interface
- name: customerAccountManagementV1
  description: Interface for managing customers accounts.
- name: searchV1
  description: Search API for all requests
- name: catalogProductRenderListV1
  description: Interface which provides product renders information for products.
- name: quoteGuestCartRepositoryV1
  description: Cart Repository interface for guest carts.
- name: quoteGuestCartManagementV1
  description: Cart Management interface for guest carts.
- name: quoteGuestShippingMethodManagementV1
  description: Shipping method management interface for guest carts.
- name: quoteGuestShipmentEstimationV1
  description: Interface GuestShipmentEstimationInterface
- name: quoteGuestCartItemRepositoryV1
  description: Cart Item repository interface for guest carts.
- name: quoteGuestPaymentMethodManagementV1
  description: Payment method management interface for guest carts.
- name: quoteGuestBillingAddressManagementV1
  description: Billing address management interface for guest carts.
- name: quoteGuestCouponManagementV1
  description: Coupon management interface for guest carts.
- name: quoteGuestCartTotalManagementV1
  description: Bundled API to collect totals for cart based on shipping/payment methods and additional data.
- name: quoteGuestCartTotalRepositoryV1
  description: Cart totals repository interface for guest carts.
- name: checkoutGuestShippingInformationManagementV1
  description: Interface for managing guest shipping address information
- name: checkoutGuestTotalsInformationManagementV1
  description: Interface for guest quote totals calculation
- name: checkoutGuestPaymentInformationManagementV1
  description: Interface for managing guest payment information
- name: integrationAdminTokenServiceV1
  description: Interface providing token generation for Admins
- name: integrationCustomerTokenServiceV1
  description: Interface providing token generation for Customers
- name: giftMessageGuestCartRepositoryV1
  description: Interface GuestCartRepositoryInterface
- name: giftMessageGuestItemRepositoryV1
  description: Interface GuestItemRepositoryInterface
- name: inventoryInStorePickupApiGetPickupLocationsV1
  description: Get Pickup Locations filtered by provided Search Request. Pickup Location entities are Immutable object and
    can not be changed after creation. All modification of Pickup Location must be done through @see \Magento\InventoryApi\Api\SourceRepositoryInterface
- name: paymentServicesPaypalPaymentConfigRequestV1
  description: ''
- name: paymentServicesPaypalPaymentOrderRequestV1
  description: An interface for the REST WebAPI request to create an order
- name: paymentServicesPaypalPaymentSdkRequestV1
  description: An interface for the REST WebAPI to get payment sdk urls
- name: paymentServicesPaypalCompleteOrderV1
  description: ''
- name: eobJWTHttpServiceV1
  description: Interface HttpServiceInterface
- name: eobTrustmateIntegrationDisplayApiV1
  description: ''
- name: marketplacePlaceOrderOrderManagementV1
  description: ''
- name: modivoMyReturnsWebhookWebhookV1
  description: ''
- name: payPalBraintreeAuthV1
  description: Interface AuthInterface
paths:
  /V1/directory/currency:
    get:
      tags:
      - directoryCurrencyInformationAcquirerV1
      description: Get currency information for the store.
      operationId: GetV1DirectoryCurrency
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id001
                $ref: '#/components/schemas/directory-data-currency-information-interface'
            application/xml:
              schema: *id001
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id002
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id002
  /V1/directory/countries:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get all countries and regions information for the store.
      operationId: GetV1DirectoryCountries
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id003
                type: array
                items:
                  $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema: *id003
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id004
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id004
  /V1/directory/countries/{countryId}:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get country and region information for the store.
      operationId: GetV1DirectoryCountriesCountryId
      parameters:
      - name: countryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id005
                $ref: '#/components/schemas/directory-data-country-information-interface'
            application/xml:
              schema: *id005
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id006
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id006
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id007
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id007
  /V1/customers:
    post:
      tags:
      - customerAccountManagementV1
      description: Create customer account. Perform necessary business operations like sending email.
      operationId: PostV1Customers
      requestBody:
        required: false
        content:
          application/json:
            schema: &id008
              required:
              - customer
              properties:
                customer:
                  $ref: '#/components/schemas/customer-data-customer-interface'
                password:
                  type: string
                redirectUrl:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id008
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id009
                $ref: '#/components/schemas/customer-data-customer-interface'
            application/xml:
              schema: *id009
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id010
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id010
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id011
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id011
  /V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}:
    get:
      tags:
      - customerAccountManagementV1
      description: Check if password reset token is valid.
      operationId: GetV1CustomersCustomerIdPasswordResetLinkTokenResetPasswordLinkToken
      parameters:
      - name: customerId
        in: path
        description: If null is given then a customer will be matched by the RP token.
        required: true
        schema:
          type: integer
      - name: resetPasswordLinkToken
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id012
                type: boolean
                description: True if the token is valid
            application/xml:
              schema: *id012
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id013
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id013
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id014
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id014
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id015
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id015
  /V1/customers/password:
    put:
      tags:
      - customerAccountManagementV1
      description: Send an email to the customer with a password reset link.
      operationId: PutV1CustomersPassword
      requestBody:
        required: false
        content:
          application/json:
            schema: &id016
              required:
              - email
              - template
              properties:
                email:
                  type: string
                template:
                  type: string
                websiteId:
                  type: integer
              type: object
              xml:
                name: request
          application/xml:
            schema: *id016
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id017
                type: boolean
                description: true on success
            application/xml:
              schema: *id017
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id018
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id018
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id019
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id019
  /V1/customers/resetPassword:
    post:
      tags:
      - customerAccountManagementV1
      description: Reset customer password.
      operationId: PostV1CustomersResetPassword
      requestBody:
        required: false
        content:
          application/json:
            schema: &id020
              required:
              - email
              - resetToken
              - newPassword
              properties:
                email:
                  type: string
                  description: If empty value given then the customer will be matched by the RP token.
                resetToken:
                  type: string
                newPassword:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id020
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id021
                type: boolean
                description: true on success
            application/xml:
              schema: *id021
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id022
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id022
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id023
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id023
  /V1/customers/isEmailAvailable:
    post:
      tags:
      - customerAccountManagementV1
      description: Check if given email is associated with a customer account in given website.
      operationId: PostV1CustomersIsEmailAvailable
      requestBody:
        required: false
        content:
          application/json:
            schema: &id024
              required:
              - customerEmail
              properties:
                customerEmail:
                  type: string
                websiteId:
                  type: integer
                  description: If not set, will use the current websiteId
              type: object
              xml:
                name: request
          application/xml:
            schema: *id024
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id025
                type: boolean
            application/xml:
              schema: *id025
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id026
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id026
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id027
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id027
  /V1/search:
    get:
      tags:
      - searchV1
      description: Make Full Text Search and return found Documents
      operationId: GetV1Search
      parameters:
      - name: searchCriteria[requestName]
        in: query
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][field]
        in: query
        description: Field
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][value]
        in: query
        description: Value
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][conditionType]
        in: query
        description: Condition type
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][field]
        in: query
        description: Sorting field.
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][direction]
        in: query
        description: Sorting direction.
        schema:
          type: string
      - name: searchCriteria[pageSize]
        in: query
        description: Page size.
        schema:
          type: integer
      - name: searchCriteria[currentPage]
        in: query
        description: Current page.
        schema:
          type: integer
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id028
                $ref: '#/components/schemas/framework-search-search-result-interface'
            application/xml:
              schema: *id028
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id029
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id029
  /V1/products-render-info:
    get:
      tags:
      - catalogProductRenderListV1
      description: Collect and retrieve the list of product render info. This info contains raw prices and formatted prices,
        product name, stock status, store_id, etc.
      operationId: GetV1Productsrenderinfo
      parameters:
      - name: searchCriteria[filterGroups][0][filters][0][field]
        in: query
        description: Field
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][value]
        in: query
        description: Value
        schema:
          type: string
      - name: searchCriteria[filterGroups][0][filters][0][conditionType]
        in: query
        description: Condition type
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][field]
        in: query
        description: Sorting field.
        schema:
          type: string
      - name: searchCriteria[sortOrders][0][direction]
        in: query
        description: Sorting direction.
        schema:
          type: string
      - name: searchCriteria[pageSize]
        in: query
        description: Page size.
        schema:
          type: integer
      - name: searchCriteria[currentPage]
        in: query
        description: Current page.
        schema:
          type: integer
      - name: storeId
        in: query
        required: true
        schema:
          type: integer
      - name: currencyCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id030
                $ref: '#/components/schemas/catalog-data-product-render-search-results-interface'
            application/xml:
              schema: *id030
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id031
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id031
  /V1/guest-carts/{cartId}:
    get:
      tags:
      - quoteGuestCartRepositoryV1
      description: Enable a guest user to return information for a specified cart.
      operationId: GetV1GuestcartsCartId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id032
                $ref: '#/components/schemas/quote-data-cart-interface'
            application/xml:
              schema: *id032
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id033
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id033
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id034
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id034
  /V1/guest-carts:
    post:
      tags:
      - quoteGuestCartManagementV1
      description: Enable an customer or guest user to create an empty cart and quote for an anonymous customer.
      operationId: PostV1Guestcarts
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id035
                type: string
                description: Cart ID.
            application/xml:
              schema: *id035
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id036
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id036
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id037
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id037
  /V1/guest-carts/{cartId}/order:
    put:
      tags:
      - quoteGuestCartManagementV1
      description: Place an order for a specified cart.
      operationId: PutV1GuestcartsCartIdOrder
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id038
              properties:
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id038
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id039
                type: integer
                description: Order ID.
            application/xml:
              schema: *id039
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id040
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id040
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id041
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id041
  /V1/guest-carts/{cartId}/shipping-methods:
    get:
      tags:
      - quoteGuestShippingMethodManagementV1
      description: List applicable shipping methods for a specified quote.
      operationId: GetV1GuestcartsCartIdShippingmethods
      parameters:
      - name: cartId
        in: path
        description: The shopping cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id042
                type: array
                description: An array of shipping methods.
                items:
                  $ref: '#/components/schemas/quote-data-shipping-method-interface'
            application/xml:
              schema: *id042
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id043
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id043
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id044
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id044
  /V1/guest-carts/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - quoteGuestShipmentEstimationV1
      description: Estimate shipping by address and return list of available shipping methods
      operationId: PostV1GuestcartsCartIdEstimateshippingmethods
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id045
              required:
              - address
              properties:
                address:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id045
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id046
                type: array
                description: An array of shipping methods
                items:
                  $ref: '#/components/schemas/quote-data-shipping-method-interface'
            application/xml:
              schema: *id046
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id047
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id047
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id048
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id048
  /V1/guest-carts/{cartId}/items:
    get:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: List items that are assigned to a specified cart.
      operationId: GetV1GuestcartsCartIdItems
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id049
                type: array
                description: Array of items.
                items:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema: *id049
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id050
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id050
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id051
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id051
    post:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: PostV1GuestcartsCartIdItems
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id052
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id052
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id053
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema: *id053
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id054
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id054
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id055
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id055
  /V1/guest-carts/{cartId}/items/{itemId}:
    put:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add/update the specified cart item.
      operationId: PutV1GuestcartsCartIdItemsItemId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id056
              required:
              - cartItem
              properties:
                cartItem:
                  $ref: '#/components/schemas/quote-data-cart-item-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id056
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id057
                $ref: '#/components/schemas/quote-data-cart-item-interface'
            application/xml:
              schema: *id057
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id058
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id058
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id059
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id059
    delete:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Remove the specified item from the specified cart.
      operationId: DeleteV1GuestcartsCartIdItemsItemId
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The item ID of the item to be removed.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id060
                type: boolean
            application/xml:
              schema: *id060
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id061
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id061
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id062
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id062
  /V1/guest-carts/{cartId}/selected-payment-method:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Return the payment method for a specified shopping cart.
      operationId: GetV1GuestcartsCartIdSelectedpaymentmethod
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id063
                $ref: '#/components/schemas/quote-data-payment-interface'
            application/xml:
              schema: *id063
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id064
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id064
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id065
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id065
    put:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Add a specified payment method to a specified shopping cart.
      operationId: PutV1GuestcartsCartIdSelectedpaymentmethod
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id066
              required:
              - method
              properties:
                method:
                  $ref: '#/components/schemas/quote-data-payment-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id066
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id067
                type: integer
                description: Payment method ID.
            application/xml:
              schema: *id067
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id068
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id068
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id069
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id069
  /V1/guest-carts/{cartId}/payment-methods:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: List available payment methods for a specified shopping cart. This call returns an array of objects, but
        detailed information about each object’s attributes might not be included.  See https://developer.adobe.com/commerce/webapi/rest/attributes#GuestPaymentMethodManagementInterface
        to determine which call to use to get detailed information about all attributes for an object.
      operationId: GetV1GuestcartsCartIdPaymentmethods
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id070
                type: array
                description: Array of payment methods.
                items:
                  $ref: '#/components/schemas/quote-data-payment-method-interface'
            application/xml:
              schema: *id070
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id071
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id071
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id072
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id072
  /V1/guest-carts/{cartId}/billing-address:
    get:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Return the billing address for a specified quote.
      operationId: GetV1GuestcartsCartIdBillingaddress
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id073
                $ref: '#/components/schemas/quote-data-address-interface'
            application/xml:
              schema: *id073
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id074
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id074
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id075
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id075
    post:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Assign a specified billing address to a specified cart.
      operationId: PostV1GuestcartsCartIdBillingaddress
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id076
              required:
              - address
              properties:
                address:
                  $ref: '#/components/schemas/quote-data-address-interface'
                useForShipping:
                  type: boolean
              type: object
              xml:
                name: request
          application/xml:
            schema: *id076
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id077
                type: integer
                description: Address ID.
            application/xml:
              schema: *id077
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id078
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id078
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id079
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id079
  /V1/guest-carts/{cartId}/coupons:
    get:
      tags:
      - quoteGuestCouponManagementV1
      description: Return information for a coupon in a specified cart.
      operationId: GetV1GuestcartsCartIdCoupons
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id080
                type: string
                description: The coupon code data.
            application/xml:
              schema: *id080
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id081
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id081
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id082
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id082
    delete:
      tags:
      - quoteGuestCouponManagementV1
      description: Delete a coupon from a specified cart.
      operationId: DeleteV1GuestcartsCartIdCoupons
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id083
                type: boolean
            application/xml:
              schema: *id083
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id084
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id084
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id085
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id085
  /V1/guest-carts/{cartId}/coupons/{couponCode}:
    put:
      tags:
      - quoteGuestCouponManagementV1
      description: Add a coupon by code to a specified cart.
      operationId: PutV1GuestcartsCartIdCouponsCouponCode
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      - name: couponCode
        in: path
        description: The coupon code data.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id086
                type: boolean
            application/xml:
              schema: *id086
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id087
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id087
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id088
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id088
  /V1/guest-carts/{cartId}/collect-totals:
    put:
      tags:
      - quoteGuestCartTotalManagementV1
      description: Set shipping/billing methods and additional data for cart and collect totals for guest.
      operationId: PutV1GuestcartsCartIdCollecttotals
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id089
              required:
              - paymentMethod
              properties:
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                shippingCarrierCode:
                  type: string
                  description: The carrier code.
                shippingMethodCode:
                  type: string
                  description: The shipping method code.
                additionalData:
                  $ref: '#/components/schemas/quote-data-totals-additional-data-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id089
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id090
                $ref: '#/components/schemas/quote-data-totals-interface'
            application/xml:
              schema: *id090
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id091
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id091
  /V1/guest-carts/{cartId}/totals:
    get:
      tags:
      - quoteGuestCartTotalRepositoryV1
      description: Return quote totals data for a specified cart.
      operationId: GetV1GuestcartsCartIdTotals
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id092
                $ref: '#/components/schemas/quote-data-totals-interface'
            application/xml:
              schema: *id092
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id093
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id093
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id094
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id094
  /V1/guest-carts/{cartId}/shipping-information:
    post:
      tags:
      - checkoutGuestShippingInformationManagementV1
      description: ''
      operationId: PostV1GuestcartsCartIdShippinginformation
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id095
              required:
              - addressInformation
              properties:
                addressInformation:
                  $ref: '#/components/schemas/checkout-data-shipping-information-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id095
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id096
                $ref: '#/components/schemas/checkout-data-payment-details-interface'
            application/xml:
              schema: *id096
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id097
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id097
  /V1/guest-carts/{cartId}/totals-information:
    post:
      tags:
      - checkoutGuestTotalsInformationManagementV1
      description: Calculate quote totals based on address and shipping method.
      operationId: PostV1GuestcartsCartIdTotalsinformation
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id098
              required:
              - addressInformation
              properties:
                addressInformation:
                  $ref: '#/components/schemas/checkout-data-totals-information-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id098
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id099
                $ref: '#/components/schemas/quote-data-totals-interface'
            application/xml:
              schema: *id099
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id100
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id100
  /V1/guest-carts/{cartId}/payment-information:
    post:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Set payment information and place order for a specified cart.
      operationId: PostV1GuestcartsCartIdPaymentinformation
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id101
              required:
              - email
              - paymentMethod
              properties:
                email:
                  type: string
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                billingAddress:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id101
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id102
                type: integer
                description: Order ID.
            application/xml:
              schema: *id102
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id103
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id103
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id104
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id104
    get:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Get payment information
      operationId: GetV1GuestcartsCartIdPaymentinformation
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id105
                $ref: '#/components/schemas/checkout-data-payment-details-interface'
            application/xml:
              schema: *id105
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id106
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id106
  /V1/guest-carts/{cartId}/set-payment-information:
    post:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Set payment information for a specified cart.
      operationId: PostV1GuestcartsCartIdSetpaymentinformation
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id107
              required:
              - email
              - paymentMethod
              properties:
                email:
                  type: string
                paymentMethod:
                  $ref: '#/components/schemas/quote-data-payment-interface'
                billingAddress:
                  $ref: '#/components/schemas/quote-data-address-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id107
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id108
                type: integer
                description: Order ID.
            application/xml:
              schema: *id108
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id109
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id109
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id110
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id110
  /V1/integration/admin/token:
    post:
      tags:
      - integrationAdminTokenServiceV1
      description: Create access token for admin given the admin credentials.
      operationId: PostV1IntegrationAdminToken
      requestBody:
        required: false
        content:
          application/json:
            schema: &id111
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id111
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id112
                type: string
                description: Token created
            application/xml:
              schema: *id112
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id113
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id113
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id114
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id114
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id115
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id115
  /V1/integration/customer/token:
    post:
      tags:
      - integrationCustomerTokenServiceV1
      description: Create access token for admin given the customer credentials.
      operationId: PostV1IntegrationCustomerToken
      requestBody:
        required: false
        content:
          application/json:
            schema: &id116
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id116
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id117
                type: string
                description: Token created
            application/xml:
              schema: *id117
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id118
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id118
        '401':
          description: 401 Unauthorized
          content:
            application/json:
              schema: &id119
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id119
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id120
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id120
  /V1/guest-carts/{cartId}/gift-message:
    get:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Return the gift message for a specified order.
      operationId: GetV1GuestcartsCartIdGiftmessage
      parameters:
      - name: cartId
        in: path
        description: The shopping cart ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id121
                $ref: '#/components/schemas/gift-message-data-message-interface'
            application/xml:
              schema: *id121
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id122
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id122
    post:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Set the gift message for an entire order.
      operationId: PostV1GuestcartsCartIdGiftmessage
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id123
              required:
              - giftMessage
              properties:
                giftMessage:
                  $ref: '#/components/schemas/gift-message-data-message-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id123
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id124
                type: boolean
            application/xml:
              schema: *id124
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id125
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id125
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id126
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id126
  /V1/guest-carts/{cartId}/gift-message/{itemId}:
    get:
      tags:
      - giftMessageGuestItemRepositoryV1
      description: Return the gift message for a specified item in a specified shopping cart.
      operationId: GetV1GuestcartsCartIdGiftmessageItemId
      parameters:
      - name: cartId
        in: path
        description: The shopping cart ID.
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The item ID.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id127
                $ref: '#/components/schemas/gift-message-data-message-interface'
            application/xml:
              schema: *id127
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id128
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id128
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id129
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id129
    post:
      tags:
      - giftMessageGuestItemRepositoryV1
      description: Set the gift message for a specified item in a specified shopping cart.
      operationId: PostV1GuestcartsCartIdGiftmessageItemId
      parameters:
      - name: cartId
        in: path
        description: The cart ID.
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The item ID.
        required: true
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema: &id130
              required:
              - giftMessage
              properties:
                giftMessage:
                  $ref: '#/components/schemas/gift-message-data-message-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id130
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id131
                type: boolean
            application/xml:
              schema: *id131
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema: &id132
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id132
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id133
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id133
  /V1/inventory/in-store-pickup/pickup-locations/:
    get:
      tags:
      - inventoryInStorePickupApiGetPickupLocationsV1
      description: Get Pickup Locations according to the results of filtration by Search Request.
      operationId: GetV1InventoryInstorepickupPickuplocations
      parameters:
      - name: searchRequest[area][radius]
        in: query
        description: Search radius in KM.
        schema:
          type: integer
      - name: searchRequest[area][searchTerm]
        in: query
        description: Search term string.
        schema:
          type: string
      - name: searchRequest[filters][country][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][country][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[filters][postcode][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][postcode][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[filters][region][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][region][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[filters][regionId][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][regionId][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[filters][city][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][city][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[filters][street][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][street][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[filters][name][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][name][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[filters][pickupLocationCode][value]
        in: query
        description: Value.
        schema:
          type: string
      - name: searchRequest[filters][pickupLocationCode][conditionType]
        in: query
        description: Condition Type.
        schema:
          type: string
      - name: searchRequest[pageSize]
        in: query
        description: Page size.
        schema:
          type: integer
      - name: searchRequest[currentPage]
        in: query
        description: Current page.
        schema:
          type: integer
      - name: searchRequest[scopeType]
        in: query
        description: Sales Channel Type.
        schema:
          type: string
      - name: searchRequest[scopeCode]
        in: query
        description: Sales Channel code.
        schema:
          type: string
      - name: searchRequest[sort][0][field]
        in: query
        description: Sorting field.
        schema:
          type: string
      - name: searchRequest[sort][0][direction]
        in: query
        description: Sorting direction.
        schema:
          type: string
      - name: searchRequest[extensionAttributes][productsInfo][0][sku]
        in: query
        description: Product SKU.
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id134
                $ref: '#/components/schemas/inventory-in-store-pickup-api-data-search-result-interface'
            application/xml:
              schema: *id134
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id135
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id135
  /V1/payments-config/{location}:
    get:
      tags:
      - paymentServicesPaypalPaymentConfigRequestV1
      description: Get Config.
      operationId: GetV1PaymentsconfigLocation
      parameters:
      - name: location
        in: path
        description: sdk location.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id136
                $ref: '#/components/schemas/payment-services-paypal-payment-config-response-interface'
            application/xml:
              schema: *id136
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id137
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id137
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id138
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id138
  /V1/payments-config/google-pay/{location}:
    get:
      tags:
      - paymentServicesPaypalPaymentConfigRequestV1
      description: Get Google Pay Config.
      operationId: GetV1PaymentsconfigGooglepayLocation
      parameters:
      - name: location
        in: path
        description: sdk location.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id139
                $ref: '#/components/schemas/payment-services-paypal-data-payment-config-google-pay-interface'
            application/xml:
              schema: *id139
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id140
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id140
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id141
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id141
  /V1/payments-config/apple-pay/{location}:
    get:
      tags:
      - paymentServicesPaypalPaymentConfigRequestV1
      description: Get Apple Pay Config.
      operationId: GetV1PaymentsconfigApplepayLocation
      parameters:
      - name: location
        in: path
        description: sdk location.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id142
                $ref: '#/components/schemas/payment-services-paypal-data-payment-config-apple-pay-interface'
            application/xml:
              schema: *id142
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id143
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id143
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id144
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id144
  /V1/payments-config/smart-buttons/{location}:
    get:
      tags:
      - paymentServicesPaypalPaymentConfigRequestV1
      description: Get Smart Buttons Config.
      operationId: GetV1PaymentsconfigSmartbuttonsLocation
      parameters:
      - name: location
        in: path
        description: sdk location.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id145
                $ref: '#/components/schemas/payment-services-paypal-data-payment-config-smart-buttons-interface'
            application/xml:
              schema: *id145
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id146
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id146
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id147
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id147
  /V1/payments-config/hosted-fields/{location}:
    get:
      tags:
      - paymentServicesPaypalPaymentConfigRequestV1
      description: Get Hosted Fields Config.
      operationId: GetV1PaymentsconfigHostedfieldsLocation
      parameters:
      - name: location
        in: path
        description: sdk location.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id148
                $ref: '#/components/schemas/payment-services-paypal-data-payment-config-hosted-fields-interface'
            application/xml:
              schema: *id148
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id149
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id149
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id150
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id150
  /V1/guest-carts/{cartId}/payment-order:
    post:
      tags:
      - paymentServicesPaypalPaymentOrderRequestV1
      description: Create a payment order for guest customer
      operationId: PostV1GuestcartsCartIdPaymentorder
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: &id151
              required:
              - methodCode
              - paymentSource
              - location
              properties:
                methodCode:
                  type: string
                paymentSource:
                  type: string
                location:
                  type: string
                vaultIntent:
                  type: boolean
                threeDSMode:
                  type: string
                  description: '| null $threeDSMode'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id151
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id152
                $ref: '#/components/schemas/payment-services-paypal-data-payment-order-interface'
            application/xml:
              schema: *id152
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id153
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id153
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id154
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id154
  /V1/guest-carts/{cartId}/payment-order/{id}:
    get:
      tags:
      - paymentServicesPaypalPaymentOrderRequestV1
      description: Get payment order for guest customer
      operationId: GetV1GuestcartsCartIdPaymentorderId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id155
                $ref: '#/components/schemas/payment-services-paypal-data-payment-order-details-interface'
            application/xml:
              schema: *id155
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id156
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id156
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id157
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id157
    post:
      tags:
      - paymentServicesPaypalPaymentOrderRequestV1
      description: Sync payment order for guest customer
      operationId: PostV1GuestcartsCartIdPaymentorderId
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id158
                type: boolean
            application/xml:
              schema: *id158
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id159
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id159
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id160
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id160
  /V1/payments-sdk/{location}:
    get:
      tags:
      - paymentServicesPaypalPaymentSdkRequestV1
      description: Get payment sdk url by location
      operationId: GetV1PaymentssdkLocation
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id161
                type: array
                items:
                  $ref: '#/components/schemas/payment-services-paypal-data-payment-sdk-params-interface'
            application/xml:
              schema: *id161
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id162
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id162
  /V1/payments-sdk/{location}/{methodCode}:
    get:
      tags:
      - paymentServicesPaypalPaymentSdkRequestV1
      description: Get payment sdk url by location and methodCode
      operationId: GetV1PaymentssdkLocationMethodCode
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: methodCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id163
                $ref: '#/components/schemas/payment-services-paypal-data-payment-sdk-params-interface'
            application/xml:
              schema: *id163
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id164
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id164
  /V1/payment-order/completeOrder:
    post:
      tags:
      - paymentServicesPaypalCompleteOrderV1
      description: Rest API endpoint to place an order
      operationId: PostV1PaymentorderCompleteOrder
      requestBody:
        required: false
        content:
          application/json:
            schema: &id165
              required:
              - orderId
              properties:
                orderId:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id165
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id166
                type: string
            application/xml:
              schema: *id166
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id167
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id167
  /V1/jwt/obtain:
    post:
      tags:
      - eobJWTHttpServiceV1
      description: Create and retrieve JWT.
      operationId: PostV1JwtObtain
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id168
                $ref: '#/components/schemas/eob-jw-tdata-token-data-interface'
            application/xml:
              schema: *id168
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id169
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id169
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id170
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id170
  /V1/trustmate/displayapi/:
    get:
      tags:
      - eobTrustmateIntegrationDisplayApiV1
      description: ''
      operationId: GetV1TrustmateDisplayapi
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id171
                type: string
            application/xml:
              schema: *id171
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id172
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id172
  /V1/orderManagement/placeOrder:
    post:
      tags:
      - marketplacePlaceOrderOrderManagementV1
      description: ''
      operationId: PostV1OrderManagementPlaceOrder
      requestBody:
        required: false
        content:
          application/json:
            schema: &id173
              required:
              - order
              properties:
                order:
                  $ref: '#/components/schemas/marketplace-place-order-data-order-interface'
              type: object
              xml:
                name: request
          application/xml:
            schema: *id173
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id174
                $ref: '#/components/schemas/marketplace-place-order-data-order-response-interface'
            application/xml:
              schema: *id174
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id175
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id175
  /V1/my-return-webhook/add-return-number-to-order:
    post:
      tags:
      - modivoMyReturnsWebhookWebhookV1
      description: Add return number to order api
      operationId: PostV1MyreturnwebhookAddreturnnumbertoorder
      requestBody:
        required: false
        content:
          application/json:
            schema: &id176
              required:
              - id
              - hash
              properties:
                id:
                  type: string
                hash:
                  type: string
              type: object
              xml:
                name: request
          application/xml:
            schema: *id176
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id177
                type: string
            application/xml:
              schema: *id177
        '500':
          description: Internal Server error
          content:
            application/json:
              schema: &id178
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id178
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id179
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id179
  /V1/applepay/auth:
    get:
      tags:
      - payPalBraintreeAuthV1
      description: Returns details required to be able to submit a payment with Apple Pay
      operationId: GetV1ApplepayAuth
      responses:
        '200':
          description: 200 Success.
          content:
            application/json:
              schema: &id180
                $ref: '#/components/schemas/pay-pal-braintree-data-auth-data-interface'
            application/xml:
              schema: *id180
        default:
          description: Unexpected error
          content:
            application/json:
              schema: &id181
                $ref: '#/components/schemas/error-response'
            application/xml:
              schema: *id181
components:
  schemas:
    error-response:
      type: object
      properties:
        message:
          type: string
          description: Error message
        errors:
          $ref: '#/components/schemas/error-errors'
        code:
          type: integer
          description: Error code
        parameters:
          $ref: '#/components/schemas/error-parameters'
        trace:
          type: string
          description: Stack trace
      required:
      - message
    error-errors:
      type: array
      description: Errors list
      items:
        $ref: '#/components/schemas/error-errors-item'
    error-errors-item:
      type: object
      description: Error details
      properties:
        message:
          type: string
          description: Error message
        parameters:
          $ref: '#/components/schemas/error-parameters'
    error-parameters:
      type: array
      description: Error parameters list
      items:
        $ref: '#/components/schemas/error-parameters-item'
    error-parameters-item:
      type: object
      description: Error parameters item
      properties:
        resources:
          type: string
          description: ACL resource
        fieldName:
          type: string
          description: Missing or invalid field name
        fieldValue:
          type: string
          description: Incorrect field value
    directory-data-currency-information-interface:
      type: object
      description: Currency Information interface.
      properties:
        base_currency_code:
          type: string
          description: The base currency code for the store.
        base_currency_symbol:
          type: string
          description: The currency symbol of the base currency for the store.
        default_display_currency_code:
          type: string
          description: The default display currency code for the store.
        default_display_currency_symbol:
          type: string
          description: The currency symbol of the default display currency for the store.
        available_currency_codes:
          type: array
          description: The list of allowed currency codes for the store.
          items:
            type: string
        exchange_rates:
          type: array
          description: The list of exchange rate information for the store.
          items:
            $ref: '#/components/schemas/directory-data-exchange-rate-interface'
        extension_attributes:
          $ref: '#/components/schemas/directory-data-currency-information-extension-interface'
      required:
      - base_currency_code
      - base_currency_symbol
      - default_display_currency_code
      - default_display_currency_symbol
      - available_currency_codes
      - exchange_rates
    directory-data-exchange-rate-interface:
      type: object
      description: Exchange Rate interface.
      properties:
        currency_to:
          type: string
          description: The currency code associated with the exchange rate.
        rate:
          type: number
          description: The exchange rate for the associated currency and the store's base currency.
        extension_attributes:
          $ref: '#/components/schemas/directory-data-exchange-rate-extension-interface'
      required:
      - currency_to
      - rate
    directory-data-exchange-rate-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\ExchangeRateInterface
    directory-data-currency-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\CurrencyInformationInterface
    directory-data-country-information-interface:
      type: object
      description: Country Information interface.
      properties:
        id:
          type: string
          description: The country id for the store.
        two_letter_abbreviation:
          type: string
          description: The country 2 letter abbreviation for the store.
        three_letter_abbreviation:
          type: string
          description: The country 3 letter abbreviation for the store.
        full_name_locale:
          type: string
          description: The country full name (in store locale) for the store.
        full_name_english:
          type: string
          description: The country full name (in English) for the store.
        available_regions:
          type: array
          description: The available regions for the store.
          items:
            $ref: '#/components/schemas/directory-data-region-information-interface'
        extension_attributes:
          $ref: '#/components/schemas/directory-data-country-information-extension-interface'
      required:
      - id
      - two_letter_abbreviation
      - three_letter_abbreviation
      - full_name_locale
      - full_name_english
    directory-data-region-information-interface:
      type: object
      description: Region Information interface.
      properties:
        id:
          type: string
          description: Region id
        code:
          type: string
          description: Region code
        name:
          type: string
          description: Region name
        extension_attributes:
          $ref: '#/components/schemas/directory-data-region-information-extension-interface'
      required:
      - id
      - code
      - name
    directory-data-region-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\RegionInformationInterface
    directory-data-country-information-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Directory\Api\Data\CountryInformationInterface
    customer-data-customer-interface:
      type: object
      description: Customer entity interface for API handling.
      properties:
        id:
          type: integer
          description: Customer id
        group_id:
          type: integer
          description: Group id
        default_billing:
          type: string
          description: Default billing address id
        default_shipping:
          type: string
          description: Default shipping address id
        confirmation:
          type: string
          description: Confirmation
        created_at:
          type: string
          description: Created at time
        updated_at:
          type: string
          description: Updated at time
        created_in:
          type: string
          description: Created in area
        dob:
          type: string
          description: In keeping with current security and privacy best practices, be sure you are aware of any potential
            legal and security risks associated with the storage of customers’ full date of birth (month, day, year) along
            with other personal identifiers (e.g., full name) before collecting or processing such data.
        email:
          type: string
          description: Email address
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        gender:
          type: integer
          description: Gender
        store_id:
          type: integer
          description: Store id
        taxvat:
          type: string
          description: Tax Vat
        website_id:
          type: integer
          description: Website id
        addresses:
          type: array
          description: Customer addresses.
          items:
            $ref: '#/components/schemas/customer-data-address-interface'
        disable_auto_group_change:
          type: integer
          description: Disable auto group change flag.
        extension_attributes:
          $ref: '#/components/schemas/customer-data-customer-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - email
      - firstname
      - lastname
    customer-data-address-interface:
      type: object
      description: Customer address interface.
      properties:
        id:
          type: integer
          description: ID
        customer_id:
          type: integer
          description: Customer ID
        region:
          $ref: '#/components/schemas/customer-data-region-interface'
        region_id:
          type: integer
          description: Region ID
        country_id:
          type: string
          description: Country code in ISO_3166-2 format
        street:
          type: array
          description: Street
          items:
            type: string
        company:
          type: string
          description: Company
        telephone:
          type: string
          description: Telephone number
        fax:
          type: string
          description: Fax number
        postcode:
          type: string
          description: Postcode
        city:
          type: string
          description: City name
        firstname:
          type: string
          description: First name
        lastname:
          type: string
          description: Last name
        middlename:
          type: string
          description: Middle name
        prefix:
          type: string
          description: Prefix
        suffix:
          type: string
          description: Suffix
        vat_id:
          type: string
          description: Vat id
        default_shipping:
          type: boolean
          description: If this address is default shipping address.
        default_billing:
          type: boolean
          description: If this address is default billing address
        extension_attributes:
          $ref: '#/components/schemas/customer-data-address-extension-interface'
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
    customer-data-region-interface:
      type: object
      description: Customer address region interface.
      properties:
        region_code:
          type: string
          description: Region code
        region:
          type: string
          description: Region
        region_id:
          type: integer
          description: Region id
        extension_attributes:
          $ref: '#/components/schemas/customer-data-region-extension-interface'
      required:
      - region_code
      - region
      - region_id
    customer-data-region-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\RegionInterface
    customer-data-address-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\AddressInterface
    framework-attribute-interface:
      type: object
      description: Interface for custom attribute value.
      properties:
        attribute_code:
          type: string
          description: Attribute code
        value:
          type: string
          description: Attribute value
      required:
      - attribute_code
      - value
    customer-data-customer-extension-interface:
      type: object
      description: ExtensionInterface class for @see \Magento\Customer\Api\Data\CustomerInterface
      properties:
        is_subscribed:
          type: boolean
        assistance_allowed:
          type: integer
    framework-search-search-result-interface:
      type: object
      description: Interface SearchResultInterface
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/framework-search-document-interface'
        aggregations:
          $ref: '#/components/schemas/framework-search-aggregation-interface'
        search_criteria:
          $ref: '#/components/schemas/framework-search-search-criteria-interface'
        total_count:
          type: integer
          description: Total count.
      required:
      - items
      - aggregations
      - search_criteria
      - total_count
    framework-search-document-interface:
      type: object
      description: Interface Search Document
      properties:
        id:
          type: integer
        custom_attributes:
          type: array
          description: Custom attributes values.
          items:
            $ref: '#/components/schemas/framework-attribute-interface'
      required:
      - id
    framework-search-aggregation-interface:
      type: object
      description: Interface Aggregation to get faceted data
      properties:
        buckets:
          type: array
          description: All Document fields
          items:
            $ref: '#/components/schemas/framework-search-bucket-interface'
        bucket_names:
          type: array
          description: Document field names
          items:
            type: string
      required:
      - buckets
      - bucket_names
    framework-search-bucket-interface:
      type: object
      description: Interface for facet Bucket
      properties:
        name:
          type: string
          description: Field name
        values:
          type: array
          description: Field values
          items:
            $ref: '#/components/schemas/framework-search-aggregation-value-interface'
      required:
      - name
      - values
    framework-search-aggregation-value-interface:
      type: object
      description: Interface Aggregation Value
      properties:
        value:
          type: string
          description: Aggregation
        metrics:
          type: array
          description: Metrics
          items:
            type: string
      required:
      - value
      - metrics
    framework-search-search-criteria-interface:
      type: object
      description: Interface SearchCriteriaInterface
      properties:
        request_name:
          type: string
        filter_groups:
          type: array
          description: A list of filter groups.
          items:
            $ref: '#/components/schemas/framework-search-filter-group'
        sort_orders:
          type: array
          description: Sort order.
          items:
            $ref: '#/components/schemas/framework-sort-order'
        page_size:
          type: integer
          description: Page size.
        current_page:
          type: integer
          description: Current page.
      required:
      - request_name
      - filter_groups
    framework-search-filter-group:
      type: object
      description: Groups two or more filters together using a logical OR
      properties:
        filters:
          type: array
          description: A list of filters in this group
          items:
            $ref: '#/components/schemas/framework-filter'
    framework-filter:
      type: object
      description: Filter which can be used by any methods from service layer.
      properties:
        field:
          type: string
          description: Field
        value:
          type: string
          description: Value
        condition_type:
          type: string
          description: Condition type
      required:
      - field
      - value
    framework-sort-order:
      type: object
      description: Data object for sort order.
      properties:
        field:
          type: string
          description: Sorting field.
        direction:
          type: string
          description: Sorting direction.
      required:
      - field
      - direction
    catalog-data-product-render-search-results-interface:
      type: object
      description: Dto that holds render information about products
      properties:
        items:
          type: array
          description: List of products rendered information
          items:
            $ref: '#/components/schemas/catalog-data-product-render-interface'
      required:
      - items
    catalog-data-product-render-interface:
      type: object
      description: Represents Data Object which holds enough information to render product This information is put into part
        as Add To Cart or Add to Compare Data or Price Data
      properties:
        add_to_cart_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
        add_to_compare_button:
          $ref: '#/components/schemas/catalog-data-product-render-button-interface'
        price_info:
[...]
